
/* - - - - - - - - - - Reset - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

* { vertical-align: baseline; font-weight: inherit; font-family: inherit; font-style: inherit; font-size: 100%; border: 0 none; outline: 0; padding: 0; margin: 0; }
*:focus {outline: none;}
dfn { font-style: italic; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure, form, fieldset { margin: 0; }
label { cursor: pointer; }
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* - - - - - - - - - - Global Classes - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.first{float:left;}
.two_column{width:45%;margin-right:10%;float:left;}
.last{margin-right:0 !important;}
.right{float:right;}
.left{float:left;}
.transition_short{  -webkit-transition:all 100ms linear; -moz-transition:all 100ms linear; -o-transition:all 100ms linear; transition:all 100ms linear;  }
.transition{  -webkit-transition:all 300ms ease-in-out; -moz-transition:all 300ms ease-in-out; -o-transition:all 300ms ease-in-out; transition:all 300ms ease-in-out;  }

.align_right{ float: right;display: inline; text-align: right;}
/* - - - - - - - - - - Typography - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

body{margin:0;min-height:100%;font-size:16px;font-family:'DIN',Helvetica, Arial, Sans;}

header {
  position:absolute; 
  top:0; 
  left:0; 
  right:0; 
  padding: 10px 0 0 0; 
  background-color:white; 
  z-index:4; 
  width:100%;
  max-width:100%;
  overflow:hidden;}

h1{
  font: normal 700 1.5em/1.5em 'DIN', Helvetica, Arial, Sans;
  letter-spacing:2px;
  color:#333;
  margin-top:1.2em;
  margin-bottom:1em;
  margin-left:32px;
  cursor:default;
}  

h2{
  font: normal 700 2em/2em 'DIN', Helvetica, Arial, Sans;
  margin: .5em 0 0 0;
  color:#323232;
  letter-spacing:1px;
  }

h3{
  font: normal 400 1.5em/1.5em 'DIN', Helvetica, Arial, Sans;
  margin: .5em 0 .5em 0;
  color:#323232;
  letter-spacing:1px;
}

p {font: normal 400 1em/2em 'DIN', Helvetica, Arial, Sans; margin-bottom: 2em;}

p.skolar {font: normal 400 1em/2em 'Skolar', Helvetica, Arial, Sans;}

a { color: #111;}

a:visited { color: #444; }

a:hover { color: #000; }

a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

p a{ text-decoration:none; border-bottom: 1px dotted #0099ff; }

p.caption{color:#bebebe; font-style:italic;}


/* - - - - - - - - - - Navigation  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

nav{
  position:absolute; 
  top:3em; 
  right:-344px;
  overflow:hidden; 
  height:32px;
  }

nav.active{
  right:40px;
  }

nav, nav.active{
  -webkit-transition:all 300ms ease-in-out;
     -moz-transition:all 300ms ease-in-out;
       -o-transition:all 300ms ease-in-out;
          transition:all 300ms ease-in-out;
  -webkit-transition-delay: 200ms;
     -moz-transition-delay: 200ms;
      -ms-transition-delay: 200ms;
       -o-transition-delay: 200ms;
          transition-delay: 200ms;
}

  
  nav a{
    font: normal 400 1em/1.25em 'DIN', Helvetica, Arial, Sans;
    letter-spacing:1px;
    color:#333333;
    text-transform:uppercase;
    text-align:right;
    margin-left:32px;
    text-decoration:none;
  }

    #plus{
      display:inline-block;
      background:transparent url('../img/plusthin.png') top left no-repeat;
      width:22px;
      height:22px;
      vertical-align:1px;
      margin-right:20px;
    }
    #plus.active{
      -webkit-transform: rotate(-225deg);
         -moz-transform: rotate(-225deg);
          -ms-transform: rotate(-225deg);  
           -o-transform: rotate(-225deg); 
              transform: rotate(-225deg); 
    }
    #plus.active, #plus{ 
     -webkit-transition: all 400ms cubic-bezier(0.095, 0.910, 0.245, 1.000); 
        -moz-transition: all 400ms cubic-bezier(0.095, 0.910, 0.245, 1.000); 
         -ms-transition: all 400ms cubic-bezier(0.095, 0.910, 0.245, 1.000); 
          -o-transition: all 400ms cubic-bezier(0.095, 0.910, 0.245, 1.000); 
             transition: all 400ms cubic-bezier(0.095, 0.910, 0.245, 1.000);
    }

#active_underline{ height:2px; border-bottom: 2px dashed #0099ff; position:absolute; top:27px; right:0; width:0;}

  #active_underline.nav1{ width:115px; right:207px;}
  #active_underline.nav2{ width:54px;  right:116px;}
  #active_underline.nav3{ width:73px; right:2px;}

/* - - - - - - - - - - InfoPanels  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

#info_panel{
  position:absolute;
  top:66px;
  padding:0;
  left:0;
  z-index:3;
  width:100%;
  height:37px;
  background-color:#f0f0f0;
  overflow:hidden;
}

#info_panel.active{height:auto;min-height:800px;}

#info_panel, #info_panel.active, #info_wrapper, #new_roaster, .nav1, .nav2, .nav3, #active_underline{
    -webkit-transition:all 300ms ease-in-out;
     -moz-transition:all 300ms ease-in-out;
       -o-transition:all 300ms ease-in-out;
          transition:all 300ms ease-in-out;
        }

#info_wrapper{
  position:absolute;
  top:99px;
  left:0;
  background-color:#f0f0f0;
  z-index:4;
  overflow:auto;
}

#info_panel #new_roaster{
  opacity:0;
}

#info_panel.active #new_roaster{
  opacity:1 !important;
}

.panel{
  position:absolute;
  top:0;
}
.panel_content{
  margin:0 auto;
  width:900px;
  max-width:900px;
  height:auto;
  overflow:auto;
}


/* - - - - - - - - - - Map & Modals - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

#map, #map_wrapper {  
  position:absolute;
  top:0; 
  right:0;
  bottom:0; 
  left:0;
  z-index:1;

}

#map {
  background:#efefef url('../img/map.jpg') top center no-repeat; 
  -webkit-background-size: cover;
   -moz-background-size: cover;
     -o-background-size: cover;
        background-size: cover; 
}

#map.blurred{

  -webkit-filter:blur(2px);
     -moz-filter:blur(2px);
       -o-filter:blur(2px);
          filter:blur(2px);
}

a.roaster_marker{
  width:16px;
  height:16px;
  background:red;
  display:block;
  z-index:10;
  position:absolute;
}

.modal {
  background:#f8f6f4;
  line-height:36px;
  border:1px solid #d2d0cb;
  border-radius:4px;
  text-align:left;
  width:auto;
  max-width:500px;
  z-index:11;
  position:absolute;
  padding:2em 2em;
  display:none;
  opacity:0;

}

.modal:before {
  content:" ";
  background:#f8f6f4;
  width:16px;
  height:16px;
  border:1px solid #d2d0cb;
  left:50%;
  margin-left:-8px;
  position:absolute;
  display:block;
  bottom:-7px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
               zoom: 1;
  box-shadow: 0px 0px 5px #ebe9e4;
}

.modal:after {
  content:" ";
  width:25px;
  height:20px;
  display:block;
  left:50%;
  margin-left:-12px;
  bottom:0px;
  background:#f8f6f4;
  position:absolute;
}

h3.modal_name{
  margin-bottom:1em;
  font-size:1.5em;
}

a.close{
  background:transparent url('../img/plusthin.png') top left no-repeat;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);  
       -o-transform: rotate(-45deg); 
          transform: rotate(-45deg);  
  width: 20px; 
  height: 20px;
  background-size:16px 16px;
  display:block;
  margin-top:-8px;
  opacity:.8;
}

.button_wrapper{width:auto; height:auto; position:relative; float:left; clear:both;}

.address{ margin-right:16px; width:194px; color:#555;}

.hours{width:162px; color:#555;}

.button, .button:hover{
  padding:.5em 2em;
  font: normal 700 1em/1em 'DIN', Helvetica, Arial, Sans; 
  cursor: pointer;
  margin-right:1em;
  text-transform:none;
  letter-spacing: 1px;
  text-align:center;
  text-indent:0px;
  color:#fff;
}

.dark_grey{
  background: #DDDBD4;
  border: 1px solid #D2D0CB;
}

.dark_grey:hover {border-color:#b6b4b0;}

/* - - - - - - - - - - Form Styles - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

form{
  width:400px; margin-top:1em;
}

form p.caption{margin-top:15px;}

input[type="text"], input[type="email"] {
  width: 100%;
  height: 3em;
  padding-left: 32px;
  line-height: 1em;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  background-color: #fbfbfb;
  margin:8px 0px;
  -webkit-transition:all 200ms ease-in-out;
     -moz-transition:all 200ms ease-in-out;
       -o-transition:all 200ms ease-in-out;
          transition:all 200ms ease-in-out;
}
input[type="text"]:focus, input[type="email"]:focus{
  border: 1px solid #0099ff;
  background-color: #FFF;
  outline: none;
  -webkit-transition:all 200ms ease-in-out;
     -moz-transition:all 200ms ease-in-out;
       -o-transition:all 200ms ease-in-out;
          transition:all 200ms ease-in-out;  
}
textarea {
  width: 100%;
  height: 280px;
  resize: none;
  padding: 20px 35px 0;
  font-size: 50px;
  font-family: 'DIN', Helvetica, Arial, Sans;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  background-color: #f1f1f1;
}
textarea:focus {
  border: 1px solid #0099ff;
  background-color: #FFF;
  outline: none;
}
button[type="submit"]{
  padding:12px 40px;
  background-color:#0099ff;
  margin:8px 0px;
  cursor: pointer;
  font-weight:700;
  text-transform:none;
  letter-spacing: 1px;
  text-align:left;
  text-indent:0px;
  color:#fff;
}
button[type="submit"]:hover{
}

/* - - - - - - - - - - Small - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

/*Portrait*/

@media only screen and (min-width: 300px) {
  

}

/* Landscape */

@media only screen and (min-width: 480px) {
  

}

/* - - - - - - - - - - Medium  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

/* iPad Portrait (Or android tablets, I don't judge.) */

@media only screen and (min-width: 768px) {
  

}

/* iPad Landscape & Laptops */

@media only screen and (min-width: 1024px) {
  

}

/* - - - - - - - - - - Large  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

/* Moving on up to desktops */

@media only screen and (min-width: 1280px) {
  

}

/* Now we're talkin. */

@media only screen and (min-width: 1440px) {
  

}

/* - - - - - - - - - - Print Styles - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
