# Ignore system files
.DS_Store

# Ignore editor files
*.swp
*.swo

# Ignore compiled code
*.pyc

# Ignore local configuration
*.db
*.db-journal
settings_local.py

# Ignore generated staticfiles
staticfiles

# Ignore my todo list
/_*.txt

# Ignore Compass files
.sass-cache

# Ignore node_modules
site/pdxroasters/static/node_modules/