# Ignore system files
.DS_Store

# Ignore editor files
*.swp
*.swo

# Ignore compiled code
*.pyc

# Ignore local configuration
*.db
*.db-journal
settings_local.py

# Ignore generated staticfiles
staticfiles

# Ignore Compass files
site/pdxroasters/static/.sass-cache
site/pdxroasters/static/.sass-cache/*
#site/pdxroasters/static/css
#site/pdxroasters/static/css/*

# Ignore Grunt files
#pdxroasters/pdxroasters/static/js/dist/*

# Ignore Ender files
site/pdxroasters/static/js/ender/ender.js
site/pdxroasters/static/js/ender/ender.min.js
site/pdxroasters/static/js/ender/node_modules
site/pdxroasters/static/js/ender/node_modules/*