Django==1.4.2
boto==2.8.0
dj-database-url==0.2.1
django-debug-toolbar==0.9.4
django-ses==0.4.1
django-tastypie==0.9.11
geopy==0.94.2
gunicorn==0.15.0
ipython==0.13.1
mimeparse==0.1.3
mock==1.0.1
psycopg2==2.4.5
python-dateutil==1.5
wsgiref==0.1.2
