.leaflet-top {
  top: 50%;
  margin-top: -32px;
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
}

.leaflet-popup-tip {
  width: 10px;
  height: 10px;
  margin: -7px auto 0;
}

.leaflet-container a.leaflet-popup-close-button {
  display:none;
}

.leaflet-popup-content {
  h5 {
    margin-top: 1em;
    text-transform: none;
    text-align: center;
    font-family: $cabin;
  }
}

