// Mobile phones
@media
only screen and (max-width : 640px),
only screen and (max-device-width: 1136px) and (min-device-width: 960px) and (device-height: 640px),
only screen and (max-device-height: 1136px) and (min-device-height: 960px) and (device-width: 640px),
only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-device-width : 640px) and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (max-device-width : 640px) and (min-device-pixel-ratio : 1.5),
only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#roasters {
		.roaster {
			.handle {
				font-size: 1em;

				span {
					display: inline-block;
				}
			}
		}
	}

	.roaster-banner {
		min-height: 100px;
	}

	.banner-title {
		top: auto;
    padding: 3em 4% 3em 12%;
    width: 84%;
	}
}
