body{ font-size: 16px };
a {
    color: $blue;
    text-decoration: none;  
    @include transition(color 200ms linear);
    &:hover {
        color: #111;
    }
}
h1{
    font-size: 1.65em;
    letter-spacing: 1px;
    line-height: 2em;
}
h2 {
    font-size: 36px;
    margin-bottom: .5em;
    color: #323232;
    letter-spacing: 1px;
    line-height: 2em;
}
h3 {
    font-size: 26px;
    margin-bottom: .5em;
    color: #323232;
    letter-spacing: 1px;
}
h4 {
    font-size: 22px;
    margin-bottom: .5em;
    color: #323232;
    letter-spacing: 1px;
}
h5 {
    font-size: 22px;
    margin-bottom: .5em;
    color: #323232;
    letter-spacing: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
p {
    line-height:2em;
    &.skolar {
        font-family: $skolar;
        margin-bottom: 1em;
    }
    
    p a {
        text-decoration: none;
        border-bottom: 1px dotted #0099ff;
    }
    
    &.caption {
        color: #bebebe;
        font-style: italic; 
        line-height: 4em;
    }
}
strong {
    font-weight: bold;
}