@import 'compass/css3';
@import 'compass/utilities';

/* -- variables -- */
$dark-red:#CA4C29;
$red:#DD6A5A;
$light-red:#DD6A5A;
$yellow:#FFC434;
$light-green:#C0DC93;
$dark-blue:#00555F;
$blue:#13A1AF;
$light-blue:#0AAEBE;
$darkest-gray:#323232;
$darker-gray:#7b7676;
$dark-gray:#d2d0cb;
$gray:#DDDBD4;
$light-gray: #e6e6e6;
$lighter-gray:#F8f6f4;
$white:#FFFFFF;
$tan: #e9e1bd;
$dark-brown: #44372c;
$brown: #563f29;
$light-brown:#6d543d;
$skolar: 'Skolar', Helvetica, Arial, Sans-serif;
$cabin: 'Cabin', Helvetica, Arial, Sans-serif;

/* -- breakpoints -- */
$phone: 300px;
$phone-wide: 480px;
$tablet: 720px;
$tablet-wide: 1080px;
$desktop: 1280px;
$desktop-wide: 1920px;

@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/grid';
@import 'base/forms';
@import 'map';
@import 'about';
@import 'list';
@import 'roaster';

body {
  margin: 0;
  min-height: 100%;
  font-size: 16px;
  font-family: $cabin;
  -webkit-font-smoothing: antialiased;
  &.no-scroll {
    overflow-y: hidden;
  }
}

/* -- nav -- */
.top-nav {
  background-color: $white;
  padding:0.3em 2em;
  width:100%;
  position:fixed;
  box-sizing: border-box;
  display:block;
  z-index:3;
  border-bottom: 1px solid $light-gray;
  @include box-shadow(0 0 12px rgba(0,0,0,0.2));
  ul {
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
    li{
      float:left;
      display:inline-block;
      &.nav-right {
        float:right;
      }
      a{
        padding: 0;
        background-color: #FFF;
        color: $darker-gray;
        float: left;
        margin: 1em;
        padding: 0.25em 0;
        &.active {
          color: #CC4B1F;
          border-bottom: 2px solid $red;
        }
        &.logo {
          margin-left:0;
        }
        float:left;
      }
    }
  }
}

/* -- footer -- */
#footer {
  background-color: #333;
  color: #fff;
  padding: 2em 2em;
  z-index: 10;
  @include respond-to($phone, $phone-wide){

  }
  .github-logo {
    float:right;
    @include respond-to($phone, $phone-wide){
      float:none;
      display: block;
      margin: 0.5em 0 0 0;
    }
  }
}

/* -- logo -- */
#logo {
  color: $brown;
  font-size: 1.25em;
  letter-spacing: 1px;
  @include respond-to($phone, $phone-wide){
    font-size: 1em;
  }
  a {
    color: $brown;
  }

  &.page-back {
    cursor: pointer;
  }

  &:before{
    content: "";
    width: 2.5em;
    height: 2.5em;
    background: $tan url("../img/logo.png") no-repeat center center;
    background-size: 2.5em 2.5em;
    @include retina-display(){
      background: $tan url("../img/logo@2x.png") no-repeat center center;
      background-size: 2.5em 2.5em;
    }
    position: relative;
    display: inline-block;
    margin-top: .75em;
    margin-right: .5em;
    vertical-align: -0.85em;
    @include border-radius(2.5em);
    @include respond-to($phone, $phone-wide) {
      margin-top: 0.45em;
      background-size: 2em 2em;
      width:2em;
      height:2em;
      vertical-align: -0.6em;
    }
    &:hover{
      border: 10px solid $tan;
    }
  }
}

#map {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
  z-index: 1;
}

