/**
 * PDX Roaster Stylesheet
 *
 * @notes:
 * Navigate to where you ran "compass init":
 * $ cd pdxroasters/pdxroasters/static
 *
 * Tell compass to poll for changes:
 * $ compass watch
 *
 */

@import 'compass/css3';
@import 'compass/utilities';

/* -- variables -- */
$dark-red:#CA4C29;
$red:#DD6A5A;
$light-red:#DD6A5A;
$yellow:#FFC434;
$dark-blue:#00555F;
$blue:#13A1AF;
$light-blue:#0AAEBE;
$darker-gray:#323232;
$dark-gray:#d2d0cb;
$gray:#DDDBD4;
$light-gray:#F8f6f4;
$white:#FFFFFF;
$tan: #e9e1bd;
$dark-brown: #44372c;
$brown: #563f29;
$light-brown:#6d543d;
$skolar: 'Skolar', Helvetica, Arial, Sans-serif;
$din: 'DIN', Helvetica, Arial, Sans-serif;

/* - - - Import Assets - - - */
@import 'reset';
@import 'fonts';
@import 'typography';
@import 'grid';
@import 'forms';
@import 'helpers';

/* -- elements -- */
body {
    margin: 0;
    min-height: 100%;
    font-size: 16px;
    font-family: $din;
}

/* -- classes -- */
.btn {
    background: #dddbd4;
    border: 1px solid #d2d0cb;
    padding:.5em 2em;
    cursor: pointer;
    margin-right: 1em;
    text-transform: none;
    letter-spacing: 1px;
    text-align: center;
    text-indent: 0px;
    text-decoration: none;
    color: #fff;
    display: block;
    &:hover {
        border-color: #b6b4b0;
        color: #555;
    }
}
.hours {
    span {
        float: right;
        display: inline;
        text-align: right;
    }
}
.plus-close {
    background: url(../img/plusthin.png) no-repeat 0 0;
    display: block;
    height: 22px;
    position: absolute;
    right: 20px;
    text-indent: -9999px;
    top: 20px;
    width: 22px;
    
    @include transform(rotate(-45deg));
}

/* -- structure -- */
#page,
#content {
    overflow: hidden;
    position: relative;
}
#header {
    background: white;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 7em;
    padding: 0 2em;
}
.home #header {
	position: absolute;
}
#footer {
    background-color: #000;
    color: #fff;
    padding: 10px 40px;
    z-index: 10;
}

/* -- nav -- */
#logo {
    color: $brown;
    font-size: 1.5em;
    letter-spacing: 1px;
    &:before{
        content: "";
        width: 2.5em;
        height: 2.5em;
        background: $tan url("../img/logo.png") no-repeat center center;
        @include retina-display(){
            background: $tan url("../img/logo@2x.png") no-repeat center center;
            background-size: 2.5em 2.5em;
        }
        position: relative;
        display: inline-block;
        margin-top: 1em;
        margin-right: .5em;
        vertical-align: -0.85em;
        @include border-radius(2.5em);
        &:hover{
            border: 10px solid $tan;   
        }
    }

}
#nav {
    position: absolute; 
    top: 28px;
    right: -280px;
    @include transition(all 200ms ease-in-out 200ms);
    
    &.active {
        right: 133px;
    }
    
    ul {
        li {
            display: inline-block;
            margin-left: 40px;
            padding: 15px 0;
            vertical-align: middle;
            
            &:first-child {
                margin-left: 0;
            }
            
            a {
                letter-spacing: 1px;
                color: #303030;
                text-transform: none;
                font-size: 1.25em;
                &:hover,
                &.on {
                    color: $blue;
                }
            }
        }
    }
    
    .plus {
        display: inline-block;
        background: transparent url("../img/plusthin.png") no-repeat 0 0;
        width: 22px;
        height: 22px;
        vertical-align: middle;
        
        @include transition(all 400ms cubic-bezier(0.095, 0.910, 0.245, 1.000));
        
        &.active {
            @include transform(rotate(-225deg));
        }
    }
}


/* -- push pages -- */
.push-pages {
	background-color: #f0f0f0;
    bottom: 0;
    left: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    
    @include transition(left 300ms ease-in-out);
    
    &.active {
        left: 0;
    }
    
    > .page {
    	left: 100%;
    	overflow: hidden;
    	position: absolute;
    	top: 0;
    	width: 100%;
    	
    	@include transition(left 300ms ease-in-out);
	    
	    > .page-inner {
		    padding: 170px 50px;
	    }
    }
}


/* -- maps -- */
#map-wrap {  
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 7;
}
#map {
    position: relative;
    height: 100%;
    width: 100%;
    
    img {
        max-width: none;
    }
    
    .marker-custom {
        z-index: 888;
        
        &.active {
            z-index: 999;
            
            > .tooltip {
                visibility: visible;                
                @include opacity(1);
                &.loading {
                    @include opacity(0);
                }
            }
        }
       
        &.loaded {
            //z-index: 999;
        }
        // Map Markers
        > div {
            cursor: pointer;
            height: 40px;
            position: relative;
            width: 20px;
            background: transparent url("../img/roaster-marker-sans.png") no-repeat top left;
            @include transition(all .05s linear);
            @include retina-display(){
                background: transparent url("../img/roaster-marker-sans@2x.png") no-repeat top left;
                background-size: 20px 32px;
            }
            // Map Marker Hover State
            &:before{
                content:"";
                display:inline-block;
                width:16px;
                height:8px;
                background-color:rgba(0,0,0,.2);
                position:absolute;
                top:100%;
                left:50%;
                margin-top:-14px;
                margin-left:-8px;
                z-index:-1;
                @include radius-multiple(8px, 4px);
            }
            &:hover {
                margin-top:-5px;
                &:before{
                    width:20px;
                    height:10px;
                    margin-top:-11px;
                    margin-left:-10px;
                    @include radius-multiple(10px, 5px);
                }
            }
        }
        // Mouse over Title of Roaster
        > span {
            background-color:$white;
            padding: .5em;
            position: absolute;
            text-align: center;
            top: -60px;
            visibility: hidden;
            white-space: nowrap;
            z-index: -1;
            font-size:18px;
            color:$darker-gray;
            @include opacity(0);
            @include transition(all 100ms linear);
            @include box-shadow(0 0 12px rgba(0,0,0,.1));
        }
        // Full Info Modal
        > .infowindow {
            background: #f8f6f4;
            line-height: 36px;
            border: 1px solid #d2d0cb;
            border-radius: 4px;
            text-align: left;
            z-index: 11;
            position: absolute;
            padding: 2em 2em;
            white-space: normal;
            visibility: visible;
            width: 320px;
            background: $light-gray;
            @include opacity(1);
            margin-bottom:20px;
            &:before{
                content:" ";
                background:$light-gray;
                width:16px;
                height:16px;
                border-bottom:1px solid #d2d0cb;
                border-right:1px solid #d2d0cb;
                left:50%;
                margin-left:-8px;
                position:absolute;
                display:block;
                bottom:-10px;
                z-index:1;
                @include rotate(45deg);
                zoom: 1;
            }
            &.inactive {
                visibility: hidden;        
                @include opacity(0);
            }
            
            p {
                margin: 0;
            }
            
            .btn {
                margin: 0;
                padding: 6px 12px;
            }
            
            .btns {
                margin-top: 20px;
            }
            
            .col {
                font-size: 14px;
            }
            
            .ci {
                padding-right: 0;
            }
            
            .col:first-child .ci {
                padding-right: 20px;
                padding-left: 0;
            }
        }
        
        > .plus-spinner {
             &.active {
                 //visibility: visible;            
                 //@include opacity(1);
             }
            // Loading Indicator for Modal Info            
             > div {
                //background: url(../img/plusthin.png) no-repeat 0 0;
                //height: 22px;
                //width: 22px;
                
                //@include transition(all 300ms ease-in-out);
                
                &.loading {
                   // @include transform(rotate(360deg));
                }
            }
        }
    }
}


/* -- listings -- */
#roasters {
    position: relative;
    z-index: 9;
    
    @include box-shadow(0 -1px 3px rgba(0,0,0,.5));
    
    h3 {
        margin-bottom: 0;
    }
    
    h4 {
        margin: 0 0 1em 0;
    }
    
    .figcaption {
        font-family: $skolar;
    }
    
    .meta {
        margin-top: 20px;
    }
    
    .roasters {
        background-color: #fff;
        padding: 20px 0;
        position: relative;
        z-index: 8;
        
        .message {
            padding: 0 40px 40px;
        }
    }
    
    .roasters-toggle {
        background: #fff;
        display: block;
        height: 22px;
        left: 50%;
        margin-left: -25px;
        position: absolute;
        text-align: center;
        top: -20px;
        width: 50px;
        z-index: 7;
        
        @include transition(top 200ms linear);
        @include box-shadow(0 0 3px rgba(0,0,0,.8));
        @include border-top-left-radius(5px);
        @include border-top-right-radius(5px);
        
        &:hover {
            top: -22px;
        }
        
        .line {
            background: #959595;
            display: block;
            height: 2px;
            margin: 0 20% 1px;
            width: 60%;
            
            @include box-shadow(0 0 1px rgba(0,0,0,.8) inset);
            @include border-radius(1px);
            
            &:first-child {
                margin-top: 7px;
            }
        }
    }
    
    .roaster {
        &.active {
            background-color: rgba(0,0,0,.02);
            border-bottom: 1px solid #ebebeb;
            border-top: 1px solid #ebebeb;
            
            @include box-shadow(0 0 30px rgba(0,0,0,.1) inset);
            
            .handle {
	            border-bottom: 0;
            }
            
            .handle span {
                color: $blue;
            }
            
            .content {
	            display: block;
            }
        }
        
        .handle {
            cursor: pointer;
            position: relative;
            padding: 1.5em 40px;
            border-bottom: 1px solid #efefef;
            border-top: 1px solid #efefef;
            margin-top:-1px;
            @include transition(all 200ms linear);
            
            span {
                @include text-shadow(0 1px #fff);
                @include transition(all 200ms linear);
            }
            
            &:hover {
                background-color: rgba(0,0,0,.02);
                
                span {
                    color: $blue;
                }
            }
        }
        
        .btn {
            display: inline-block;
        }
        
        .toggle {
            background: transparent url(../img/plusthin.png) no-repeat 0 0;
            display: block;
            height: 22px;
            margin-top: -11px;
            position: absolute;
            right: 40px;
            top: 50%;
            width: 22px;
            
            
            @include transition(all 400ms cubic-bezier(0.095, 0.910, 0.245, 1.000));
            
            &.active {
                @include transform(rotate(-225deg));
            }
        }
        
        .content {
            display: none;
            overflow: hidden;
            padding: 0 20px 20px;
        }
        
        .figure {
            display: inline-block;
            position: relative;
            
            &:after {
                bottom: 0;
                content: '';
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                @include box-shadow(0 0 70px #000 inset);
            }
        }
    }
}


/* -- error pages -- */
#page-error {
    padding: 100px;
}

body[data-controller=error] {
    background-color: #f0f0f0;
    
    #footer {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
    }
}


/* -- @media -- */

/* - - - - - - - - - - Small - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

/*Portrait*/
@media only screen and (min-width: 300px) {

}

/* Landscape */
@media only screen and (min-width: 480px) {
  
}

/* - - - - - - - - - - Medium  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

/* iPad Portrait (Or android tablets, I don't judge.) */
@media only screen and (min-width: 768px) {

}

/* iPad Landscape & Laptops */
@media only screen and (min-width: 1024px) {
  

}

/* - - - - - - - - - - Large  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

/* Moving on up to desktops */
@media only screen and (min-width: 1280px) {
  

}

/* Now we're talkin. */
@media only screen and (min-width: 1440px) {
  

}