/**
 * PDX Roaster Stylesheet
 *
 * @notes:
 *
 * Navigate to where you watch files:
 * $ cd src/site/pdxroasters/static/js
 *
 * Grunt will now watch compass:
 * $ grunt watch
 *
 */
/* -- variables -- */
/* -- breakpoints -- */
/* -- reset -- */
/* line 2, ../sass/_reset.scss */
html, body, a, abbr, blockquote, button, div, em, fieldset, form, h1, h2, h3, h4, h5, h6, hr, iframe, img, label, legend, li, object, ol, p, pre, span, strong, table, td, th, tr, ul {
  background: no-repeat 0 0;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 3, ../sass/_reset.scss */
section, header, nav, footer {
  display: block;
}

/* line 4, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 5, ../sass/_reset.scss */
strong, th {
  font-weight: bold;
}

/* line 6, ../sass/_reset.scss */
table {
  border-spacing: 0;
  width: 100%;
}

/* line 7, ../sass/_reset.scss */
input {
  padding: 0;
}

/* line 8, ../sass/_reset.scss */
legend {
  white-space: normal;
  width: 100%;
}

/* line 9, ../sass/_reset.scss */
textarea {
  overflow: auto;
  resize: vertical;
}

/* line 10, ../sass/_reset.scss */
embed, iframe, img, input, object, select, textarea {
  margin: 0;
  max-width: 100%;
  vertical-align: top;
}

/* line 11, ../sass/_reset.scss */
a:hover, a:active, embed, object {
  outline: 0;
}

/* line 12, ../sass/_reset.scss */
a, button {
  cursor: pointer;
}

/* line 13, ../sass/_reset.scss */
button {
  border: 0;
  line-height: normal;
}

/* line 14, ../sass/_reset.scss */
button[disabled] {
  cursor: default;
}

/* line 15, ../sass/_reset.scss */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-Regular-webfont.eot");
  src: url("../fonts/Cabin-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-Regular-webfont.woff") format("woff"), url("../fonts/Cabin-Regular-webfont.ttf") format("truetype"), url("../fonts/Cabin-Regular-webfont.svg#CabinRegular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-Italic-webfont.eot");
  src: url("../fonts/Cabin-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-Italic-webfont.woff") format("woff"), url("../fonts/Cabin-Italic-webfont.ttf") format("truetype"), url("../fonts/Cabin-Italic-webfont.svg#CabinItalic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-Medium-webfont.eot");
  src: url("../fonts/Cabin-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-Medium-webfont.woff") format("woff"), url("../fonts/Cabin-Medium-webfont.ttf") format("truetype"), url("../fonts/Cabin-Medium-webfont.svg#CabinMedium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-MediumItalic-webfont.eot");
  src: url("../fonts/Cabin-MediumItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-MediumItalic-webfont.woff") format("woff"), url("../fonts/Cabin-MediumItalic-webfont.ttf") format("truetype"), url("../fonts/Cabin-MediumItalic-webfont.svg#CabinMediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-SemiBold-webfont.eot");
  src: url("../fonts/Cabin-SemiBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-SemiBold-webfont.woff") format("woff"), url("../fonts/Cabin-SemiBold-webfont.ttf") format("truetype"), url("../fonts/Cabin-SemiBold-webfont.svg#CabinSemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-SemiBoldItalic-webfont.eot");
  src: url("../fonts/Cabin-SemiBoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-SemiBoldItalic-webfont.woff") format("woff"), url("../fonts/Cabin-SemiBoldItalic-webfont.ttf") format("truetype"), url("../fonts/Cabin-SemiBoldItalic-webfont.svg#CabinSemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-Bold-webfont.eot");
  src: url("../fonts/Cabin-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-Bold-webfont.woff") format("woff"), url("../fonts/Cabin-Bold-webfont.ttf") format("truetype"), url("../fonts/Cabin-Bold-webfont.svg#CabinBold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-BoldItalic-webfont.eot");
  src: url("../fonts/Cabin-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-BoldItalic-webfont.woff") format("woff"), url("../fonts/Cabin-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/Cabin-BoldItalic-webfont.svg#CabinBoldItalic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'DIN';
  src: url("../fonts/dinpro-black.eot");
  src: url("../fonts/dinpro-black.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro-black.woff") format("woff"), url("../fonts/dinpro-black.ttf") format("truetype"), url("../fonts/dinpro-black.svg#dinpro-black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url("../fonts/dinpro-bold.eot");
  src: url("../fonts/dinpro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro-bold.woff") format("woff"), url("../fonts/dinpro-bold.ttf") format("truetype"), url("../fonts/dinpro-bold.svg#dinpro-bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url("../fonts/dinpro-medium.eot");
  src: url("../fonts/dinpro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro-medium.woff") format("woff"), url("../fonts/dinpro-medium.ttf") format("truetype"), url("../fonts/dinpro-medium.svg#dinpro-medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url("../fonts/dinpro-regular.eot");
  src: url("../fonts/dinpro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro-regular.woff") format("woff"), url("../fonts/dinpro-regular.ttf") format("truetype"), url("../fonts/dinpro-regular.svg#dinpro-regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url("../fonts/dinpro-light.eot");
  src: url("../fonts/dinpro-light.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro-light.woff") format("woff"), url("../fonts/dinpro-light.ttf") format("truetype"), url("../fonts/dinpro-light.svg#dinpro-light") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Skolar';
  src: url("../fonts/skolarot-italic.eot");
  src: url("../fonts/skolarot-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/skolarot-italic.woff") format("woff"), url("../fonts/skolarot-italic.ttf") format("truetype"), url("../fonts/skolarot-italic.svg#skolarot-italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Skolar';
  src: url("../fonts/skolarot.eot");
  src: url("../fonts/skolarot.eot?#iefix") format("embedded-opentype"), url("../fonts/skolarot.woff") format("woff"), url("../fonts/skolarot.ttf") format("truetype"), url("../fonts/skolarot.svg#skolarot") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/_typography.scss */
body {
  font-size: 16px;
}

/* line 2, ../sass/_typography.scss */
a {
  color: #13a1af;
  text-decoration: none;
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}
/* line 6, ../sass/_typography.scss */
a:hover {
  color: #111;
}

/* line 10, ../sass/_typography.scss */
h1 {
  font-size: 1.65em;
  letter-spacing: 1px;
  line-height: 2em;
  font-weight: 700;
}

/* line 16, ../sass/_typography.scss */
h2 {
  font-size: 16px;
  margin-bottom: 2em;
  color: #323232;
  letter-spacing: 1px;
  line-height: 2em;
  text-transform: uppercase;
  font-weight: 900;
}

/* line 25, ../sass/_typography.scss */
h3 {
  font-size: 26px;
  margin-bottom: .5em;
  color: #323232;
  letter-spacing: 1px;
}

/* line 31, ../sass/_typography.scss */
h4 {
  font-size: 22px;
  margin-bottom: .5em;
  color: #323232;
  letter-spacing: 1px;
}

/* line 37, ../sass/_typography.scss */
h5 {
  font-size: 14px;
  margin-bottom: 1em;
  color: #323232;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700 !important;
  margin-top: 2em;
}

/* line 46, ../sass/_typography.scss */
p {
  line-height: 2em;
}
/* line 48, ../sass/_typography.scss */
p.skolar {
  font-family: "Skolar", Helvetica, Arial, Sans-serif;
  margin-bottom: 1em;
}
/* line 53, ../sass/_typography.scss */
p p a {
  text-decoration: none;
  border-bottom: 1px dotted #0099ff;
}
/* line 58, ../sass/_typography.scss */
p.caption {
  color: #bebebe;
  font-style: italic;
  line-height: 4em;
}
/* line 63, ../sass/_typography.scss */
p.tight {
  line-height: 1.5em;
}

/* line 67, ../sass/_typography.scss */
strong {
  font-weight: bold;
}

/* line 71, ../sass/_typography.scss */
.right {
  text-align: right !important;
}

/* -- grid -- */
/* line 2, ../sass/_grid.scss */
.inner {
  padding: 2em;
}

/* line 5, ../sass/_grid.scss */
.col {
  display: block;
  float: left;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/_grid.scss */
.ci {
  padding: 0 1em;
}

/* line 16, ../sass/_grid.scss */
.last {
  float: right;
}

/* line 19, ../sass/_grid.scss */
.col1of1 {
  float: none;
}

/* line 20, ../sass/_grid.scss */
.col1of2 {
  width: 50%;
}

/* line 21, ../sass/_grid.scss */
.col1of3 {
  width: 33.33333%;
}

/* line 22, ../sass/_grid.scss */
.col2of3 {
  width: 66.66666%;
}

/* line 23, ../sass/_grid.scss */
.col1of4 {
  width: 25%;
}

/* line 24, ../sass/_grid.scss */
.col3of4 {
  width: 75%;
}

/* line 25, ../sass/_grid.scss */
.col1of5 {
  width: 20%;
}

/* line 26, ../sass/_grid.scss */
.col2of5 {
  width: 40%;
}

/* line 27, ../sass/_grid.scss */
.col3of5 {
  width: 60%;
}

/* line 28, ../sass/_grid.scss */
.col4of5 {
  width: 80%;
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 29, ../sass/_grid.scss */
  .col1of1, .col1of2, .col1of3, .col2of3, .col1of4, .col3of4, .col1of5, .col2of5, .col3of5, .col4of5 {
    width: 100%;
  }
}

/* line 34, ../sass/_grid.scss */
.group {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 39, ../sass/_grid.scss */
.group:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 51, ../sass/_grid.scss */
.col-group {
  font-family: "Courier New", Monospace;
  letter-spacing: -0.65em;
  margin-left: -15px;
  margin-right: -15px;
  text-align: left;
}
/* line 58, ../sass/_grid.scss */
.col-group .col {
  display: inline-block;
  float: none;
  font-family: "Cabin", Helvetica, Arial, Sans-serif;
  letter-spacing: normal;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: left;
  vertical-align: top;
}

/* -- forms -- */
/* line 6, ../sass/_forms.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
textarea {
  width: 100%;
  height: 3em;
  padding-left: 16px;
  padding-right: 4px;
  line-height: 1em;
  font-family: "DIN", Helvetica, Arial, Sans-serif;
  font-size: 1em;
  border: 1px solid #dedede;
  background-color: #f8f8f8;
  margin: 8px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
/* line 21, ../sass/_forms.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: #0099ff;
  background-color: #fff;
  outline: none;
}
/* line 27, ../sass/_forms.scss */
input[type="text"].f-error,
input[type="email"].f-error,
input[type="url"].f-error,
input[type="tel"].f-error,
textarea.f-error {
  border-color: #ff0000;
  background-color: #fff;
}

/* line 32, ../sass/_forms.scss */
input[type="tel"] {
  width: 30%;
}

/* line 35, ../sass/_forms.scss */
input[type="url"] {
  width: 64%;
  float: right;
}

/* line 39, ../sass/_forms.scss */
input[type="checkbox"] {
  vertical-align: 0.15em;
  margin-right: 0.25em;
}

/* line 43, ../sass/_forms.scss */
label {
  line-height: 2em;
}

/* line 46, ../sass/_forms.scss */
.error-message {
  color: #ff0000;
}

/* line 49, ../sass/_forms.scss */
textarea {
  min-height: 150px;
  resize: none;
  padding: 20px 16px 0;
}

/* line 54, ../sass/_forms.scss */
button[type="submit"] {
  background-color: #0099ff;
  color: #fff;
  cursor: pointer;
  font-family: "DIN", Helvetica, Arial, Sans-serif;
  letter-spacing: 1px;
  margin: 8px 0px;
  padding: 12px 40px;
  text-transform: none;
  text-align: left;
  text-indent: 0px;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
/* line 67, ../sass/_forms.scss */
button[type="submit"]:hover {
  background-color: #000;
}

@media only screen and (min-width: 300px) and (max-width: 720px) {
  /* line 71, ../sass/_forms.scss */
  .ajax-form {
    margin-top: 3em;
  }
}

/* line 76, ../sass/_forms.scss */
.inline-label {
  display: inline-block;
  margin-right: 20px;
  margin-top: 1em;
}

@-moz-keyframes pulse {
  /* line 2, ../sass/_anim.scss */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 6, ../sass/_anim.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25;
  }

  /* line 10, ../sass/_anim.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  /* line 15, ../sass/_anim.scss */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 19, ../sass/_anim.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25;
  }

  /* line 23, ../sass/_anim.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@-o-keyframes pulse {
  /* line 28, ../sass/_anim.scss */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 32, ../sass/_anim.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25;
  }

  /* line 36, ../sass/_anim.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@keyframes pulse {
  /* line 41, ../sass/_anim.scss */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 45, ../sass/_anim.scss */
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25;
  }

  /* line 49, ../sass/_anim.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

/* -- elements -- */
/* line 58, ../sass/screen.scss */
html {
  /*     background-color:$light-gray; */
}

/* line 62, ../sass/screen.scss */
body {
  margin: 0;
  min-height: 100%;
  font-size: 16px;
  font-family: "Cabin", Helvetica, Arial, Sans-serif;
  -webkit-font-smoothing: antialiased;
}
/* line 69, ../sass/screen.scss */
body.no-scroll {
  overflow-y: hidden;
}

/* -- classes -- */
/* line 75, ../sass/screen.scss */
.btn {
  background: #dd6a5a;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: .5em 2em;
  cursor: pointer;
  text-transform: none;
  letter-spacing: 1px;
  text-align: center;
  text-indent: 0px;
  text-decoration: none;
  color: #fff;
  display: block;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
/* line 89, ../sass/screen.scss */
.btn:hover {
  background: #d36555;
  color: white;
}

/* line 94, ../sass/screen.scss */
.top-nav {
  background-color: transparent;
  padding: 0 2em;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
}
/* line 100, ../sass/screen.scss */
.top-nav ul {
  width: 100%;
}
/* line 102, ../sass/screen.scss */
.top-nav ul li {
  float: left;
  display: inline-block;
}
/* line 105, ../sass/screen.scss */
.top-nav ul li.nav-right {
  float: right;
}
/* line 108, ../sass/screen.scss */
.top-nav ul li a {
  padding: 1em;
  background-color: #fff;
  color: #323232;
  float: left;
}
/* line 112, ../sass/screen.scss */
.top-nav ul li a.active {
  background-color: #dd6a5a;
  color: white;
}

/* line 122, ../sass/screen.scss */
#footer {
  background-color: #333;
  color: #fff;
  padding: 2em 2em;
  z-index: 10;
}
/* line 130, ../sass/screen.scss */
#footer .github-logo {
  float: right;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 130, ../sass/screen.scss */
  #footer .github-logo {
    float: none;
    display: block;
    margin: 0.5em 0 0 0;
  }
}

/* -- nav -- */
/* line 141, ../sass/screen.scss */
#logo {
  color: #563f29;
  font-size: 1.25em;
  letter-spacing: 1px;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 141, ../sass/screen.scss */
  #logo {
    font-size: 1em;
  }
}
/* line 148, ../sass/screen.scss */
#logo a {
  color: #563f29;
}
/* line 152, ../sass/screen.scss */
#logo.page-back {
  cursor: pointer;
}
/* line 156, ../sass/screen.scss */
#logo:before {
  content: "";
  width: 2.5em;
  height: 2.5em;
  background: #e9e1bd url("../img/logo.png") no-repeat center center;
  background-size: 2.5em 2.5em;
  position: relative;
  display: inline-block;
  margin-top: .75em;
  margin-right: .5em;
  vertical-align: -0.85em;
  -webkit-border-radius: 2.5em;
  -moz-border-radius: 2.5em;
  -ms-border-radius: 2.5em;
  -o-border-radius: 2.5em;
  border-radius: 2.5em;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  /* line 156, ../sass/screen.scss */
  #logo:before {
    background: #e9e1bd url("../img/logo@2x.png") no-repeat center center;
    background-size: 2.5em 2.5em;
  }
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 156, ../sass/screen.scss */
  #logo:before {
    margin-top: 0.45em;
    background-size: 2em 2em;
    width: 2em;
    height: 2em;
    vertical-align: -0.6em;
  }
}
/* line 179, ../sass/screen.scss */
#logo:before:hover {
  border: 10px solid #e9e1bd;
}

/* -- push pages -- */
/* line 189, ../sass/screen.scss */
.push-pages > .page > .page-inner {
  margin: 0;
  padding: 160px 40px 40px;
}
@media only screen and (min-width: 300px) and (max-width: 720px) {
  /* line 189, ../sass/screen.scss */
  .push-pages > .page > .page-inner {
    padding: 80px 20px 20px;
  }
}
/* line 196, ../sass/screen.scss */
.push-pages > .page > .page-inner .ci {
  padding: 0;
}
/* line 200, ../sass/screen.scss */
.push-pages > .page > .page-inner .col:first-child .ci {
  padding-right: 20px;
}
/* line 204, ../sass/screen.scss */
.push-pages > .page > .page-inner .col:last-child .ci {
  padding-left: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 720px) {
  /* line 204, ../sass/screen.scss */
  .push-pages > .page > .page-inner .col:last-child .ci {
    padding-left: 0;
  }
}

/* -- filter field -- */
/* line 216, ../sass/screen.scss */
#filter input {
  background-color: #dd6a5a;
  border: 0;
  color: white;
  font-family: "Cabin", Helvetica, Arial, Sans-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  padding: 1em 40px;
}
/* line 226, ../sass/screen.scss */
#filter input:focus {
  outline: none;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 216, ../sass/screen.scss */
  #filter input {
    padding: 0 32px;
    font-size: 18px;
  }
}

/* line 235, ../sass/screen.scss */
::-webkit-input-placeholder {
  color: #e6e6e6;
}

/* line 239, ../sass/screen.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #e6e6e6;
}

/* line 243, ../sass/screen.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #e6e6e6;
}

/* line 247, ../sass/screen.scss */
:-ms-input-placeholder {
  color: #e6e6e6;
}

/* -- maps -- */
/* line 252, ../sass/screen.scss */
#map-wrap {
  position: relative;
  width: 100%;
  z-index: 7;
}

/* line 259, ../sass/screen.scss */
#map {
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 264, ../sass/screen.scss */
#map img {
  max-width: none;
}
/* line 268, ../sass/screen.scss */
#map .marker-location {
  background-color: #00555f;
  height: 8px;
  width: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 274, ../sass/screen.scss */
#map .marker-location:before {
  background-color: #13a1af;
  border: 1px solid #00555f;
  content: '';
  height: 32px;
  left: -13px;
  position: absolute;
  top: -13px;
  width: 32px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
  -moz-animation: pulse 3000ms infinite ease-in-out;
  -o-animation: pulse 3000ms infinite ease-in-out;
  -webkit-animation: pulse 3000ms infinite ease-in-out;
  animation: pulse 3000ms infinite ease-in-out;
}
/* line 294, ../sass/screen.scss */
#map .marker-custom {
  z-index: 888;
  -webkit-backface-visibility: hidden;
}
/* line 298, ../sass/screen.scss */
#map .marker-custom.active {
  z-index: 999;
}
/* line 301, ../sass/screen.scss */
#map .marker-custom.active > .tooltip {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 304, ../sass/screen.scss */
#map .marker-custom.active > .tooltip.loading {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 310, ../sass/screen.scss */
#map .marker-custom > div {
  cursor: pointer;
  height: 40px;
  position: relative;
  width: 20px;
  background: transparent url("../img/roaster-marker-sans.png") no-repeat top left;
  -webkit-transition: margin-top 100ms ease-in-out;
  -moz-transition: margin-top 100ms ease-in-out;
  -o-transition: margin-top 100ms ease-in-out;
  transition: margin-top 100ms ease-in-out;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  /* line 310, ../sass/screen.scss */
  #map .marker-custom > div {
    background: transparent url("../img/roaster-marker-sans@2x.png") no-repeat top left;
    background-size: 20px 32px;
  }
}
/* line 322, ../sass/screen.scss */
#map .marker-custom > div:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -14px;
  margin-left: -8px;
  z-index: -1;
  -webkit-transition: width 100ms ease-in-out;
  -moz-transition: width 100ms ease-in-out;
  -o-transition: width 100ms ease-in-out;
  transition: width 100ms ease-in-out;
  -moz-border-radius: 8px / 4px;
  -webkit-border-radius: 8px / 4px;
  border-radius: 8px / 4px;
}
/* line 337, ../sass/screen.scss */
#map .marker-custom > div:hover {
  margin-top: -5px;
}
/* line 339, ../sass/screen.scss */
#map .marker-custom > div:hover:before {
  width: 20px;
  height: 10px;
  margin-top: -11px;
  margin-left: -10px;
  -moz-border-radius: 10px / 5px;
  -webkit-border-radius: 10px / 5px;
  border-radius: 10px / 5px;
}
/* line 349, ../sass/screen.scss */
#map .marker-custom.marker-cafe > div {
  background: url("../img/cafe-marker.png") no-repeat top left transparent;
  background-size: 20px 32px;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  /* line 349, ../sass/screen.scss */
  #map .marker-custom.marker-cafe > div {
    background: url("../img/cafe-marker@2x.png") no-repeat top left transparent;
    background-size: 20px 32px;
  }
}
/* line 359, ../sass/screen.scss */
#map .marker-custom > span {
  background-color: white;
  padding: .5em;
  position: absolute;
  text-align: center;
  top: -50px;
  visibility: hidden;
  white-space: nowrap;
  z-index: -1;
  font-size: 18px;
  color: #323232;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
/* line 375, ../sass/screen.scss */
#map .marker-custom > .infowindow {
  line-height: 22px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  text-align: left;
  z-index: 11;
  position: absolute;
  padding: 0.5em 2.5em 0.5em 0.5em;
  white-space: normal;
  visibility: visible;
  width: 200px;
  background: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  margin-bottom: 20px;
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
/* line 394, ../sass/screen.scss */
#map .marker-custom > .infowindow:before {
  content: " ";
  background: white;
  width: 16px;
  height: 16px;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  display: block;
  bottom: -10px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  zoom: 1;
}
/* line 410, ../sass/screen.scss */
#map .marker-custom > .infowindow.inactive {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 415, ../sass/screen.scss */
#map .marker-custom > .infowindow h3 {
  font-size: 15px;
  margin-bottom: 0;
  color: #7b7676;
  letter-spacing: 1px;
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: 0;
  line-height: 1.5em;
  margin-left: 1.2em;
  margin-right: 1.5em;
}
/* line 430, ../sass/screen.scss */
#map .marker-custom > .infowindow .find {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../img/find-cafe.png") center center no-repeat transparent;
  background-size: 30px;
  position: absolute;
  left: 6px;
  top: 5px;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  /* line 430, ../sass/screen.scss */
  #map .marker-custom > .infowindow .find {
    background: transparent url("../img/find-cafe@2x.png") no-repeat center center;
    background-size: 30px;
  }
}
/* line 444, ../sass/screen.scss */
#map .marker-custom > .infowindow .more {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../img/information.png") center center no-repeat transparent;
  background-size: 30px;
  position: absolute;
  right: 6px;
  top: 5px;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  /* line 444, ../sass/screen.scss */
  #map .marker-custom > .infowindow .more {
    background: transparent url("../img/information@2x.png") no-repeat center center;
    background-size: 30px;
  }
}
/* line 459, ../sass/screen.scss */
#map .marker-custom > .infowindow .hours, #map .marker-custom > .infowindow .address {
  line-height: 22px;
}
/* line 463, ../sass/screen.scss */
#map .marker-custom > .infowindow p {
  margin: 0;
  line-height: 13px;
  font-size: 12px;
  text-align: left;
  text-indent: 30px;
  color: #aaa;
}
/* line 472, ../sass/screen.scss */
#map .marker-custom > .infowindow .btn {
  margin: 0;
  padding: 6px 12px;
}
/* line 477, ../sass/screen.scss */
#map .marker-custom > .infowindow .btns {
  margin-top: 20px;
}
/* line 481, ../sass/screen.scss */
#map .marker-custom > .infowindow .col {
  font-size: 14px;
}
/* line 485, ../sass/screen.scss */
#map .marker-custom > .infowindow .ci {
  padding-right: 0;
}
/* line 489, ../sass/screen.scss */
#map .marker-custom > .infowindow .col:first-child .ci {
  padding-right: 20px;
  padding-left: 0;
}

/* line 496, ../sass/screen.scss */
.sort-list {
  background-color: #d2d0cb;
  width: 100%;
  box-sizing: border-box;
  padding: 5em 2em 2em 2em;
  display: table;
}
/* line 502, ../sass/screen.scss */
.sort-list li {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 507, ../sass/screen.scss */
.sort-list li a {
  color: white;
  width: 2em;
  background-color: #7b7676;
  box-sizing: border-box;
  border: 1px solid #323232;
}
/* line 514, ../sass/screen.scss */
.sort-list li:first-child {
  border-right: 1px solid #dddbd4;
}

/* line 519, ../sass/screen.scss */
.list-content {
  background-color: #f8f6f4;
  width: 100%;
  box-sizing: border-box;
  padding: 2em 2em 0 2em;
  font-size: 16px;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 519, ../sass/screen.scss */
  .list-content {
    padding: 2em 1em 0 1em;
  }
}
/* line 528, ../sass/screen.scss */
.list-content .roaster {
  background-color: white;
  margin: 0.5em 0;
  height: 4em;
  border: 1px solid #f8f6f4;
  position: relative;
  clear: both;
}
/* line 536, ../sass/screen.scss */
.list-content .distance {
  background-color: #dd6a5a;
  width: 4em;
  height: 4em;
  display: table;
  color: white;
  text-align: center;
  float: left;
}
/* line 544, ../sass/screen.scss */
.list-content .distance span {
  display: table-cell;
  vertical-align: middle;
}
/* line 549, ../sass/screen.scss */
.list-content .handle {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
}
/* line 557, ../sass/screen.scss */
.list-content .push-link {
  width: 100%;
  box-sizing: border-box;
  padding: 1.5em 1em 1.5em 5em;
  display: block;
}

/* line 567, ../sass/screen.scss */
#close-cafes {
  background-color: #dd6a5a;
  color: white;
  display: inline-block;
  left: 50%;
  padding: 20px 60px 20px 20px;
  position: absolute;
  top: -100%;
  z-index: 1;
  -webkit-transition: top 300ms ease-in-out;
  -moz-transition: top 300ms ease-in-out;
  -o-transition: top 300ms ease-in-out;
  transition: top 300ms ease-in-out;
}
/* line 578, ../sass/screen.scss */
#close-cafes.active {
  top: 0;
}
/* line 582, ../sass/screen.scss */
#close-cafes > a {
  color: white;
  font-weight: bold;
}
/* line 586, ../sass/screen.scss */
#close-cafes > a:hover {
  color: #44372c;
}
/* line 591, ../sass/screen.scss */
#close-cafes > span {
  background: url("../img/plus-close-cafes.png") no-repeat 0 0;
  cursor: pointer;
  display: block;
  height: 22px;
  margin-top: -11px;
  position: absolute;
  right: 20px;
  top: 50%;
  width: 22px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* -- pushstate container -- */
/* line 607, ../sass/screen.scss */
.push-container {
  background-color: white;
  height: 100%;
  left: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 7;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: left 300ms ease-in-out;
  -moz-transition: left 300ms ease-in-out;
  -o-transition: left 300ms ease-in-out;
  transition: left 300ms ease-in-out;
}
/* line 618, ../sass/screen.scss */
.push-container.active {
  left: 0;
}
/* line 622, ../sass/screen.scss */
.push-container.active-page {
  position: relative;
}

/* -- listings -- */
/* line 629, ../sass/screen.scss */
.hours, .address {
  font-size: 14px;
  font-weight: 400;
  color: #323232;
}
/* line 633, ../sass/screen.scss */
.hours span, .address span {
  float: right;
  display: inline;
  text-align: right;
}

/* line 646, ../sass/screen.scss */
#roaster-push-page h3 {
  margin-bottom: 1.5em;
}
/* line 650, ../sass/screen.scss */
#roaster-push-page h4 {
  margin: 0 0 1em 0;
}
/* line 654, ../sass/screen.scss */
#roaster-push-page .message {
  padding: 0 40px 40px;
}
/* line 658, ../sass/screen.scss */
#roaster-push-page .figcaption {
  font-family: "Skolar", Helvetica, Arial, Sans-serif;
}
/* line 662, ../sass/screen.scss */
#roaster-push-page .meta {
  margin-top: 20px;
}
/* line 667, ../sass/screen.scss */
#roaster-push-page .roaster.active {
  background-color: rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) inset;
}
/* line 674, ../sass/screen.scss */
#roaster-push-page .roaster.active .handle {
  border-bottom: 0;
}
/* line 678, ../sass/screen.scss */
#roaster-push-page .roaster.active .handle span {
  color: #13a1af;
}
/* line 682, ../sass/screen.scss */
#roaster-push-page .roaster.active .content {
  display: block;
}
/* line 687, ../sass/screen.scss */
#roaster-push-page .roaster .content {
  display: none;
}
/* line 690, ../sass/screen.scss */
#roaster-push-page .roaster .content.active {
  display: block;
}
/* line 695, ../sass/screen.scss */
#roaster-push-page .roaster .btn {
  display: inline-block;
}
/* line 699, ../sass/screen.scss */
#roaster-push-page .roaster .toggle {
  display: block;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  right: -40px;
  top: 50%;
  width: 40px;
  -webkit-transition: all 400ms cubic-bezier(0.095, 0.91, 0.245, 1);
  -moz-transition: all 400ms cubic-bezier(0.095, 0.91, 0.245, 1);
  -o-transition: all 400ms cubic-bezier(0.095, 0.91, 0.245, 1);
  transition: all 400ms cubic-bezier(0.095, 0.91, 0.245, 1);
}

/* line 712, ../sass/screen.scss */
.roaster-banner {
  width: 100%;
  min-height: 300px;
  position: relative;
  background: url("/static/img/building.jpg") no-repeat center center #dddbd4;
  background-size: cover;
  overflow: hidden;
}
/* line 719, ../sass/screen.scss */
.roaster-banner:before {
  content: "";
  background: -webkit-radial-gradient(center, circle cover, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  pointer-events: none;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}
/* line 729, ../sass/screen.scss */
.roaster-banner:after {
  content: "";
  background: url("/static/img/mesh.png") repeat top left transparent;
  pointer-events: none;
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* line 744, ../sass/screen.scss */
.banner-title {
  position: relative;
  top: 22px;
  width: 50%;
  padding: 10% 0 10% 8%;
  display: block;
  z-index: 3;
}

/* line 753, ../sass/screen.scss */
.roaster-title {
  color: white;
  font-size: 36px;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 753, ../sass/screen.scss */
  .roaster-title {
    font-size: 24px;
  }
}
/* line 759, ../sass/screen.scss */
.roaster-title h3 {
  margin-bottom: 0 !important;
}

/* line 764, ../sass/screen.scss */
.banner-address {
  line-height: 1.5em;
  margin-left: 24px;
}

/* line 769, ../sass/screen.scss */
.banner-link {
  color: white;
  position: relative;
}
/* line 772, ../sass/screen.scss */
.banner-link:hover {
  color: #f8f6f4;
}
/* line 775, ../sass/screen.scss */
.banner-link:after {
  width: 20px;
  height: 26px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -24px;
  background: url("/static/img/turn-by-turn.png") no-repeat top center transparent;
  background-size: 20px;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  /* line 775, ../sass/screen.scss */
  .banner-link:after {
    background: transparent url("/static/img/turn-by-turn@2x.png") no-repeat center;
    background-size: 20px;
  }
}

/* line 792, ../sass/screen.scss */
.roaster-description {
  width: 100%;
  max-width: 960px;
  margin: 3em 0 3em 8%;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 792, ../sass/screen.scss */
  .roaster-description {
    width: 90%;
    margin: 0.5em 5% 0.5em 5%;
  }
  /* line 799, ../sass/screen.scss */
  .roaster-description h5 {
    margin-bottom: 0;
    margin-top: 1em;
  }
}

/* line 806, ../sass/screen.scss */
.phone-number {
  color: #7b7676;
  font-size: 0.75em;
  line-height: 1.5em;
}

/* line 812, ../sass/screen.scss */
.roaster-fact {
  text-align: center;
  margin-bottom: 2em;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 812, ../sass/screen.scss */
  .roaster-fact {
    width: 33%;
  }
}
/* line 818, ../sass/screen.scss */
.roaster-fact > div {
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4em;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 818, ../sass/screen.scss */
  .roaster-fact > div {
    padding: 2em;
  }
}
/* line 827, ../sass/screen.scss */
.roaster-fact p {
  margin: 0.5em 0 2em 0;
  font-size: 0.85em;
}
/* line 830, ../sass/screen.scss */
.roaster-fact p.false {
  color: #e6e6e6;
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 835, ../sass/screen.scss */
  .about-title {
    margin-top: 2em;
  }
}

/* line 840, ../sass/screen.scss */
.contact-info {
  margin-bottom: 2em;
}

/* line 843, ../sass/screen.scss */
.roaster-fact-icon {
  width: 100%;
  background: url("/static/img/onsite-cafe.png") no-repeat center center transparent;
  background-size: contain;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  /* line 843, ../sass/screen.scss */
  .roaster-fact-icon {
    background: transparent url("/static/img/onsite-cafe@2x.png") no-repeat center;
    background-size: 100px;
  }
}
/* line 851, ../sass/screen.scss */
.roaster-fact-icon.false {
  opacity: 0.2;
}

/* line 855, ../sass/screen.scss */
.online-orders {
  background: url("/static/img/online.png") no-repeat center center transparent;
  background-size: contain;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  /* line 855, ../sass/screen.scss */
  .online-orders {
    background: transparent url("/static/img/online@2x.png") no-repeat center;
    background-size: 100px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 855, ../sass/screen.scss */
  .online-orders {
    background-size: 60px;
  }
}

/* line 867, ../sass/screen.scss */
.onsite-cafe {
  background: url("/static/img/onsite-cafe.png") no-repeat center center transparent;
  background-size: contain;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  /* line 867, ../sass/screen.scss */
  .onsite-cafe {
    background: transparent url("/static/img/onsite-cafe@2x.png") no-repeat center;
    background-size: 100px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 867, ../sass/screen.scss */
  .onsite-cafe {
    background-size: 60px;
  }
}

/* line 879, ../sass/screen.scss */
.open-to-public {
  background: url("/static/img/public.png") no-repeat center center transparent;
  background-size: contain;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  /* line 879, ../sass/screen.scss */
  .open-to-public {
    background: transparent url("/static/img/public@2x.png") no-repeat center;
    background-size: 100px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 879, ../sass/screen.scss */
  .open-to-public {
    background-size: 60px;
  }
}

/* line 892, ../sass/screen.scss */
.roaster-about {
  padding: 0 6.5em 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 892, ../sass/screen.scss */
  .roaster-about {
    padding: 0;
    margin-bottom: 2em;
  }
}
/* line 899, ../sass/screen.scss */
.roaster-about p {
  margin-bottom: 2em;
}
/* line 902, ../sass/screen.scss */
.roaster-about.second-column {
  padding-left: 8%;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 902, ../sass/screen.scss */
  .roaster-about.second-column {
    padding-left: 0;
  }
}

/* line 910, ../sass/screen.scss */
.back-to-list {
  background: #dd6a5a url("../img/list.png") 70% 14px no-repeat;
  background-size: 20px 20px;
  display: block;
  height: 50px;
  left: 0%;
  margin-left: -20px;
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  z-index: 7;
  -webkit-transition: margin-left 100ms linear;
  -moz-transition: margin-left 100ms linear;
  -o-transition: margin-left 100ms linear;
  transition: margin-left 100ms linear;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  -moz-border-radius-bottomright: 25px;
  -webkit-border-bottom-right-radius: 25px;
  border-bottom-right-radius: 25px;
  -moz-border-radius-topright: 25px;
  -webkit-border-top-right-radius: 25px;
  border-top-right-radius: 25px;
}
/* line 927, ../sass/screen.scss */
.back-to-list:hover {
  margin-left: -15px;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 927, ../sass/screen.scss */
  .back-to-list:hover {
    margin-left: -8px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 910, ../sass/screen.scss */
  .back-to-list {
    background: #dd6a5a url("../img/list.png") 70% 8px no-repeat;
    background-size: 20px 20px;
    height: 36px;
    margin-left: -10px;
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -18px;
    width: 36px;
  }
}

/* line 947, ../sass/screen.scss */
#roaster-push-page .roaster {
  padding: 80px 0px 0px;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 947, ../sass/screen.scss */
  #roaster-push-page .roaster {
    padding-top: 48px;
  }
}
/* line 952, ../sass/screen.scss */
#roaster-push-page .roaster .col1of2 {
  width: 48%;
}

/* -- error pages -- */
/* line 959, ../sass/screen.scss */
#page-error {
  padding: 100px;
}

/* line 963, ../sass/screen.scss */
body[data-controller=error] {
  background-color: #f0f0f0;
}
/* line 966, ../sass/screen.scss */
body[data-controller=error] #footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
}

/* -- about page -- */
/* line 975, ../sass/screen.scss */
.about-wrap {
  padding: 5em 2em 2em 2em;
  box-sizing: border-box;
  margin: 0;
  background-color: #f8f6f4;
}
/* line 980, ../sass/screen.scss */
.about-wrap h2 {
  margin: 1em 0;
  font-size: 22px;
  text-transform: none;
}

/* line 987, ../sass/screen.scss */
.block {
  padding: 4em 0;
}

/* line 991, ../sass/screen.scss */
.about {
  max-width: 1020px;
  margin: 0 auto;
}

/* line 996, ../sass/screen.scss */
.about-description, .add-a-roaster-form, .contact-form {
  width: 70%;
  box-sizing: border-box;
  max-width: 620px;
  padding: 0 0 0 4em;
  display: inline-block;
}

/* line 1003, ../sass/screen.scss */
.about-icon, .add-a-roaster-copy, .contact-copy {
  width: 30%;
  box-sizing: border-box;
  display: inline-block;
  max-width: 400px;
  height: auto;
  margin-top: 0;
  vertical-align: top;
}
/* line 1011, ../sass/screen.scss */
.about-icon img, .add-a-roaster-copy img, .contact-copy img {
  width: 100%;
  height: auto;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* -- add a roaster -- */
/* line 1021, ../sass/screen.scss */
.add-a-roaster-copy {
  margin-top: 5em;
}

/* -- contact -- */
/* line 1030, ../sass/screen.scss */
.contact-form {
  padding-left: 0;
}

/* line 1034, ../sass/screen.scss */
.contact-copy {
  padding-left: 5em;
  margin-top: 2em;
}

/* -- @media -- */
@media only screen and (max-width: 640px), only screen and (max-device-width: 1136px) and (min-device-width: 960px) and (device-height: 640px), only screen and (max-device-height: 1136px) and (min-device-height: 960px) and (device-width: 640px), only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-device-width: 640px) and (min-device-pixel-ratio: 1.5), only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 11, ../sass/_media.scss */
  .roaster-banner {
    min-height: 100px;
  }

  /* line 15, ../sass/_media.scss */
  .banner-title {
    top: auto;
    padding: 3em 4% 3em 12%;
    width: 84%;
  }
}
