/* -- variables -- */
/* -- breakpoints -- */
/* -- reset -- */
/* line 2, ../sass/_reset.scss */
html, body, a, abbr, blockquote, button, div, em, fieldset, form, h1, h2, h3, h4, h5, h6, hr, iframe, img, label, legend, li, object, ol, p, pre, span, strong, table, td, th, tr, ul {
  background: no-repeat 0 0;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 3, ../sass/_reset.scss */
section, header, nav, footer {
  display: block;
}

/* line 4, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 5, ../sass/_reset.scss */
strong, th {
  font-weight: bold;
}

/* line 6, ../sass/_reset.scss */
table {
  border-spacing: 0;
  width: 100%;
}

/* line 7, ../sass/_reset.scss */
input {
  padding: 0;
}

/* line 8, ../sass/_reset.scss */
legend {
  white-space: normal;
  width: 100%;
}

/* line 9, ../sass/_reset.scss */
textarea {
  overflow: auto;
  resize: vertical;
}

/* line 10, ../sass/_reset.scss */
embed, iframe, img, input, object, select, textarea {
  margin: 0;
  max-width: 100%;
  vertical-align: top;
}

/* line 11, ../sass/_reset.scss */
a:hover, a:active, embed, object {
  outline: 0;
}

/* line 12, ../sass/_reset.scss */
a, button {
  cursor: pointer;
}

/* line 13, ../sass/_reset.scss */
button {
  border: 0;
  line-height: normal;
}

/* line 14, ../sass/_reset.scss */
button[disabled] {
  cursor: default;
}

/* line 15, ../sass/_reset.scss */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-Regular-webfont.eot");
  src: url("../fonts/Cabin-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-Regular-webfont.woff") format("woff"), url("../fonts/Cabin-Regular-webfont.ttf") format("truetype"), url("../fonts/Cabin-Regular-webfont.svg#CabinRegular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-Italic-webfont.eot");
  src: url("../fonts/Cabin-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-Italic-webfont.woff") format("woff"), url("../fonts/Cabin-Italic-webfont.ttf") format("truetype"), url("../fonts/Cabin-Italic-webfont.svg#CabinItalic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-Medium-webfont.eot");
  src: url("../fonts/Cabin-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-Medium-webfont.woff") format("woff"), url("../fonts/Cabin-Medium-webfont.ttf") format("truetype"), url("../fonts/Cabin-Medium-webfont.svg#CabinMedium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-MediumItalic-webfont.eot");
  src: url("../fonts/Cabin-MediumItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-MediumItalic-webfont.woff") format("woff"), url("../fonts/Cabin-MediumItalic-webfont.ttf") format("truetype"), url("../fonts/Cabin-MediumItalic-webfont.svg#CabinMediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-SemiBold-webfont.eot");
  src: url("../fonts/Cabin-SemiBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-SemiBold-webfont.woff") format("woff"), url("../fonts/Cabin-SemiBold-webfont.ttf") format("truetype"), url("../fonts/Cabin-SemiBold-webfont.svg#CabinSemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-SemiBoldItalic-webfont.eot");
  src: url("../fonts/Cabin-SemiBoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-SemiBoldItalic-webfont.woff") format("woff"), url("../fonts/Cabin-SemiBoldItalic-webfont.ttf") format("truetype"), url("../fonts/Cabin-SemiBoldItalic-webfont.svg#CabinSemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-Bold-webfont.eot");
  src: url("../fonts/Cabin-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-Bold-webfont.woff") format("woff"), url("../fonts/Cabin-Bold-webfont.ttf") format("truetype"), url("../fonts/Cabin-Bold-webfont.svg#CabinBold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-BoldItalic-webfont.eot");
  src: url("../fonts/Cabin-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-BoldItalic-webfont.woff") format("woff"), url("../fonts/Cabin-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/Cabin-BoldItalic-webfont.svg#CabinBoldItalic") format("svg");
  font-weight: 700;
  font-style: italic;
}

/* line 91, ../sass/_typography.scss */
body {
  font-size: 16px;
}

/* line 93, ../sass/_typography.scss */
a {
  color: #13a1af;
  text-decoration: none;
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}
/* line 97, ../sass/_typography.scss */
a:hover {
  color: #111;
}

/* line 101, ../sass/_typography.scss */
h1 {
  font-size: 1.65em;
  letter-spacing: 1px;
  line-height: 2em;
  font-weight: 700;
}

/* line 107, ../sass/_typography.scss */
h2 {
  font-size: 16px;
  margin-bottom: 2em;
  color: #323232;
  letter-spacing: 1px;
  line-height: 2em;
  text-transform: uppercase;
  font-weight: 900;
}

/* line 116, ../sass/_typography.scss */
h3 {
  font-size: 26px;
  margin-bottom: .5em;
  color: #323232;
  letter-spacing: 1px;
}

/* line 122, ../sass/_typography.scss */
h4 {
  font-size: 22px;
  margin-bottom: .5em;
  color: #323232;
  letter-spacing: 1px;
}

/* line 128, ../sass/_typography.scss */
h5 {
  font-size: 14px;
  margin-bottom: 1em;
  color: #323232;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700 !important;
  margin-top: 2em;
}

/* line 137, ../sass/_typography.scss */
p {
  line-height: 2em;
}
/* line 139, ../sass/_typography.scss */
p.skolar {
  font-family: "Skolar", Helvetica, Arial, Sans-serif;
  margin-bottom: 1em;
}
/* line 144, ../sass/_typography.scss */
p p a {
  text-decoration: none;
  border-bottom: 1px dotted #0099ff;
}
/* line 149, ../sass/_typography.scss */
p.caption {
  color: #bebebe;
  font-style: italic;
  line-height: 4em;
}
/* line 154, ../sass/_typography.scss */
p.tight {
  line-height: 1.5em;
}

/* line 158, ../sass/_typography.scss */
strong {
  font-weight: bold;
}

/* line 162, ../sass/_typography.scss */
.right {
  text-align: right !important;
}

/* -- grid -- */
/* line 2, ../sass/_grid.scss */
.inner {
  padding: 2em;
}

/* line 5, ../sass/_grid.scss */
.col {
  display: block;
  float: left;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/_grid.scss */
.ci {
  padding: 0 1em;
}

/* line 16, ../sass/_grid.scss */
.last {
  float: right;
}

/* line 19, ../sass/_grid.scss */
.col1of1 {
  float: none;
}

/* line 20, ../sass/_grid.scss */
.col1of2 {
  width: 50%;
}

/* line 21, ../sass/_grid.scss */
.col1of3 {
  width: 33.33333%;
}

/* line 22, ../sass/_grid.scss */
.col2of3 {
  width: 66.66666%;
}

/* line 23, ../sass/_grid.scss */
.col1of4 {
  width: 25%;
}

/* line 24, ../sass/_grid.scss */
.col3of4 {
  width: 75%;
}

/* line 25, ../sass/_grid.scss */
.col1of5 {
  width: 20%;
}

/* line 26, ../sass/_grid.scss */
.col2of5 {
  width: 40%;
}

/* line 27, ../sass/_grid.scss */
.col3of5 {
  width: 60%;
}

/* line 28, ../sass/_grid.scss */
.col4of5 {
  width: 80%;
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 29, ../sass/_grid.scss */
  .col1of1, .col1of2, .col1of3, .col2of3, .col1of4, .col3of4, .col1of5, .col2of5, .col3of5, .col4of5 {
    width: 100%;
  }
}

/* line 34, ../sass/_grid.scss */
.group {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 39, ../sass/_grid.scss */
.group:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 51, ../sass/_grid.scss */
.col-group {
  font-family: "Courier New", Monospace;
  letter-spacing: -0.65em;
  margin-left: -15px;
  margin-right: -15px;
  text-align: left;
}
/* line 58, ../sass/_grid.scss */
.col-group .col {
  display: inline-block;
  float: none;
  font-family: "Cabin", Helvetica, Arial, Sans-serif;
  letter-spacing: normal;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: left;
  vertical-align: top;
}

/* -- forms -- */
/* line 6, ../sass/_forms.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
textarea {
  width: 100%;
  height: 3em;
  padding-left: 16px;
  padding-right: 4px;
  line-height: 1em;
  font-family: "Cabin", Helvetica, Arial, Sans-serif;
  font-size: 1em;
  border: 1px solid #dedede;
  background-color: #f8f8f8;
  margin: 8px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
/* line 21, ../sass/_forms.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: #0099ff;
  background-color: #fff;
  outline: none;
}
/* line 27, ../sass/_forms.scss */
input[type="text"].f-error,
input[type="email"].f-error,
input[type="url"].f-error,
input[type="tel"].f-error,
textarea.f-error {
  border-color: #ff0000;
  background-color: #fff;
}

/* line 32, ../sass/_forms.scss */
input[type="tel"] {
  width: 30%;
}

/* line 35, ../sass/_forms.scss */
input[type="url"] {
  width: 64%;
  float: right;
}

/* line 39, ../sass/_forms.scss */
input[type="checkbox"] {
  vertical-align: 0.15em;
  margin-right: 0.25em;
}

/* line 43, ../sass/_forms.scss */
label {
  line-height: 2em;
}

/* line 46, ../sass/_forms.scss */
.error-message {
  color: #ff0000;
}

/* line 49, ../sass/_forms.scss */
textarea {
  min-height: 150px;
  resize: none;
  padding: 20px 16px 0;
}

/* line 54, ../sass/_forms.scss */
button[type="submit"] {
  background-color: #0099ff;
  color: #fff;
  cursor: pointer;
  font-family: "Cabin", Helvetica, Arial, Sans-serif;
  letter-spacing: 1px;
  margin: 8px 0px;
  padding: 12px 40px;
  text-transform: none;
  text-align: left;
  text-indent: 0px;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
/* line 67, ../sass/_forms.scss */
button[type="submit"]:hover {
  background-color: #000;
}

@media only screen and (min-width: 300px) and (max-width: 720px) {
  /* line 71, ../sass/_forms.scss */
  .ajax-form {
    margin-top: 3em;
  }
}

/* line 76, ../sass/_forms.scss */
.inline-label {
  display: inline-block;
  margin-right: 20px;
  margin-top: 1em;
}

/* line 2, ../sass/_map.scss */
.leaflet-popup-content-wrapper {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 6, ../sass/_map.scss */
.leaflet-container a.leaflet-popup-close-button {
  display: none;
}

/* line 11, ../sass/_map.scss */
.leaflet-popup-content h5 {
  margin-top: 1em;
}

/* line 42, ../sass/screen.scss */
body {
  margin: 0;
  min-height: 100%;
  font-size: 16px;
  font-family: "Cabin", Helvetica, Arial, Sans-serif;
  -webkit-font-smoothing: antialiased;
}
/* line 49, ../sass/screen.scss */
body.no-scroll {
  overflow-y: hidden;
}

/* -- buttons -- */
/* line 55, ../sass/screen.scss */
.btn {
  background: #dd6a5a;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: .5em 2em;
  cursor: pointer;
  text-transform: none;
  letter-spacing: 1px;
  text-align: center;
  text-indent: 0px;
  text-decoration: none;
  color: #fff;
  display: block;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
/* line 69, ../sass/screen.scss */
.btn:hover {
  background: #d36555;
  color: white;
}

/* -- nav -- */
/* line 76, ../sass/screen.scss */
.top-nav {
  background-color: white;
  padding: 0.3em 2em;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  display: block;
  z-index: 3;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
/* line 86, ../sass/screen.scss */
.top-nav ul {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
}
/* line 90, ../sass/screen.scss */
.top-nav ul li {
  float: left;
  display: inline-block;
}
/* line 93, ../sass/screen.scss */
.top-nav ul li.nav-right {
  float: right;
}
/* line 96, ../sass/screen.scss */
.top-nav ul li a {
  padding: 0;
  background-color: #FFF;
  color: #7b7676;
  float: left;
  margin: 1em;
  padding: 0.25em 0;
  float: left;
}
/* line 103, ../sass/screen.scss */
.top-nav ul li a.active {
  color: #CC4B1F;
  border-bottom: 2px solid #dd6a5a;
}
/* line 107, ../sass/screen.scss */
.top-nav ul li a.logo {
  margin-left: 0;
}

/* -- footer -- */
/* line 117, ../sass/screen.scss */
#footer {
  background-color: #333;
  color: #fff;
  padding: 2em 2em;
  z-index: 10;
}
/* line 125, ../sass/screen.scss */
#footer .github-logo {
  float: right;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 125, ../sass/screen.scss */
  #footer .github-logo {
    float: none;
    display: block;
    margin: 0.5em 0 0 0;
  }
}

/* -- logo -- */
/* line 136, ../sass/screen.scss */
#logo {
  color: #563f29;
  font-size: 1.25em;
  letter-spacing: 1px;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 136, ../sass/screen.scss */
  #logo {
    font-size: 1em;
  }
}
/* line 143, ../sass/screen.scss */
#logo a {
  color: #563f29;
}
/* line 147, ../sass/screen.scss */
#logo.page-back {
  cursor: pointer;
}
/* line 151, ../sass/screen.scss */
#logo:before {
  content: "";
  width: 2.5em;
  height: 2.5em;
  background: #e9e1bd url("../img/logo.png") no-repeat center center;
  background-size: 2.5em 2.5em;
  position: relative;
  display: inline-block;
  margin-top: .75em;
  margin-right: .5em;
  vertical-align: -0.85em;
  -webkit-border-radius: 2.5em;
  -moz-border-radius: 2.5em;
  -ms-border-radius: 2.5em;
  -o-border-radius: 2.5em;
  border-radius: 2.5em;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  /* line 151, ../sass/screen.scss */
  #logo:before {
    background: #e9e1bd url("../img/logo@2x.png") no-repeat center center;
    background-size: 2.5em 2.5em;
  }
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 151, ../sass/screen.scss */
  #logo:before {
    margin-top: 0.45em;
    background-size: 2em 2em;
    width: 2em;
    height: 2em;
    vertical-align: -0.6em;
  }
}
/* line 174, ../sass/screen.scss */
#logo:before:hover {
  border: 10px solid #e9e1bd;
}

/* line 181, ../sass/screen.scss */
::-webkit-input-placeholder {
  color: #e6e6e6;
}

/* line 185, ../sass/screen.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #e6e6e6;
}

/* line 189, ../sass/screen.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #e6e6e6;
}

/* line 193, ../sass/screen.scss */
:-ms-input-placeholder {
  color: #e6e6e6;
}

/* line 197, ../sass/screen.scss */
#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 1;
}

/* line 207, ../sass/screen.scss */
#about {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}

/* -- listings -- */
/* line 217, ../sass/screen.scss */
.hours, .address {
  font-size: 14px;
  font-weight: 400;
  color: #323232;
}
/* line 221, ../sass/screen.scss */
.hours span, .address span {
  float: right;
  display: inline;
  text-align: right;
}

/* - - - - Roaster Detail Pages - - - - - */
/* line 236, ../sass/screen.scss */
#roaster-push-page h3 {
  margin-bottom: 1.5em;
}
/* line 240, ../sass/screen.scss */
#roaster-push-page h4 {
  margin: 0 0 1em 0;
}
/* line 244, ../sass/screen.scss */
#roaster-push-page .message {
  padding: 0 40px 40px;
}
/* line 248, ../sass/screen.scss */
#roaster-push-page .figcaption {
  font-family: "Skolar", Helvetica, Arial, Sans-serif;
}
/* line 252, ../sass/screen.scss */
#roaster-push-page .meta {
  margin-top: 20px;
}
/* line 256, ../sass/screen.scss */
#roaster-push-page .roaster {
  background-color: #e9e1bd;
}
/* line 258, ../sass/screen.scss */
#roaster-push-page .roaster.active {
  background-color: rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) inset;
}
/* line 265, ../sass/screen.scss */
#roaster-push-page .roaster.active .handle {
  border-bottom: 0;
}
/* line 269, ../sass/screen.scss */
#roaster-push-page .roaster.active .handle span {
  color: #13a1af;
}
/* line 273, ../sass/screen.scss */
#roaster-push-page .roaster.active .content {
  display: block;
}
/* line 278, ../sass/screen.scss */
#roaster-push-page .roaster .content {
  display: none;
}
/* line 281, ../sass/screen.scss */
#roaster-push-page .roaster .content.active {
  display: block;
}
/* line 286, ../sass/screen.scss */
#roaster-push-page .roaster .btn {
  display: inline-block;
}
/* line 290, ../sass/screen.scss */
#roaster-push-page .roaster .toggle {
  display: block;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  right: -40px;
  top: 50%;
  width: 40px;
  -webkit-transition: all 400ms cubic-bezier(0.095, 0.91, 0.245, 1);
  -moz-transition: all 400ms cubic-bezier(0.095, 0.91, 0.245, 1);
  -o-transition: all 400ms cubic-bezier(0.095, 0.91, 0.245, 1);
  transition: all 400ms cubic-bezier(0.095, 0.91, 0.245, 1);
}

/* line 303, ../sass/screen.scss */
.content {
  background-color: #f8f6f4;
}

/* line 306, ../sass/screen.scss */
.roaster-banner {
  width: 100%;
  min-height: 300px;
  position: relative;
  background: url("/static/img/building.jpg") no-repeat center center #dddbd4;
  background-size: cover;
  overflow: hidden;
}
/* line 313, ../sass/screen.scss */
.roaster-banner:before {
  content: "";
  background: -webkit-radial-gradient(center, circle cover, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  pointer-events: none;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}
/* line 323, ../sass/screen.scss */
.roaster-banner:after {
  content: "";
  background: url("/static/img/mesh.png") repeat top left transparent;
  pointer-events: none;
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* line 337, ../sass/screen.scss */
.banner-title {
  position: relative;
  width: 100%;
  padding: 10% 0 10% 0;
  display: block;
  z-index: 3;
  margin-top: 3em;
}

/* line 346, ../sass/screen.scss */
.roaster-title {
  color: white;
  font-size: 72px;
  text-align: center;
  line-height:1em;
  margin-bottom:0.5em;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 346, ../sass/screen.scss */
  .roaster-title {
    font-size: 24px;
  }
}
/* line 353, ../sass/screen.scss */
.roaster-title h3 {
  margin-bottom: 0 !important;
}

/* line 358, ../sass/screen.scss */
.banner-address {
  line-height: 1.5em;
  text-align: center;
  font-size: 20px;
}

/* line 364, ../sass/screen.scss */
.banner-link {
  color: white;
  position: relative;
}
/* line 367, ../sass/screen.scss */
.banner-link:hover {
  color: #f8f6f4;
}
/* line 370, ../sass/screen.scss */
.banner-link:after {
  width: 20px;
  height: 26px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -24px;
  background: url("/static/img/turn-by-turn.png") no-repeat top center transparent;
  background-size: 20px;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  /* line 370, ../sass/screen.scss */
  .banner-link:after {
    background: transparent url("/static/img/turn-by-turn@2x.png") no-repeat center;
    background-size: 20px;
  }
}

/* line 387, ../sass/screen.scss */
.roaster-description {
  width: 100%;
  max-width: 960px;
  margin: 3em auto 0 auto;
  padding-bottom: 3em;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 387, ../sass/screen.scss */
  .roaster-description {
    width: 90%;
    margin: 0.5em 5% 0.5em 5%;
  }
  /* line 395, ../sass/screen.scss */
  .roaster-description h5 {
    margin-bottom: 0;
    margin-top: 1em;
  }
}

/* line 402, ../sass/screen.scss */
.phone-number {
  color: #7b7676;
  font-size: 0.75em;
  line-height: 1.5em;
}

/* line 408, ../sass/screen.scss */
.roaster-fact {
  text-align: center;
  margin-bottom: 2em;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 408, ../sass/screen.scss */
  .roaster-fact {
    width: 33%;
  }
}
/* line 414, ../sass/screen.scss */
.roaster-fact > div {
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4em;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 414, ../sass/screen.scss */
  .roaster-fact > div {
    padding: 2em;
  }
}
/* line 423, ../sass/screen.scss */
.roaster-fact p {
  margin: 0.5em 0 2em 0;
  font-size: 0.85em;
}
/* line 426, ../sass/screen.scss */
.roaster-fact p.false {
  color: #e6e6e6;
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 431, ../sass/screen.scss */
  .about-title {
    margin-top: 2em;
  }
}

/* line 436, ../sass/screen.scss */
.contact-info {
  margin-bottom: 2em;
}

/* line 439, ../sass/screen.scss */
.roaster-fact-icon {
  width: 100%;
  background: url("/static/img/onsite-cafe.png") no-repeat center center transparent;
  background-size: contain;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  /* line 439, ../sass/screen.scss */
  .roaster-fact-icon {
    background: transparent url("/static/img/onsite-cafe@2x.png") no-repeat center;
    background-size: 100px;
  }
}
/* line 447, ../sass/screen.scss */
.roaster-fact-icon.false {
  opacity: 0.2;
}

/* line 451, ../sass/screen.scss */
.online-orders {
  background: url("/static/img/online.png") no-repeat center center transparent;
  background-size: contain;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  /* line 451, ../sass/screen.scss */
  .online-orders {
    background: transparent url("/static/img/online@2x.png") no-repeat center;
    background-size: 100px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 451, ../sass/screen.scss */
  .online-orders {
    background-size: 60px;
  }
}

/* line 463, ../sass/screen.scss */
.onsite-cafe {
  background: url("/static/img/onsite-cafe.png") no-repeat center center transparent;
  background-size: contain;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  /* line 463, ../sass/screen.scss */
  .onsite-cafe {
    background: transparent url("/static/img/onsite-cafe@2x.png") no-repeat center;
    background-size: 100px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 463, ../sass/screen.scss */
  .onsite-cafe {
    background-size: 60px;
  }
}

/* line 475, ../sass/screen.scss */
.open-to-public {
  background: url("/static/img/public.png") no-repeat center center transparent;
  background-size: contain;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  /* line 475, ../sass/screen.scss */
  .open-to-public {
    background: transparent url("/static/img/public@2x.png") no-repeat center;
    background-size: 100px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 475, ../sass/screen.scss */
  .open-to-public {
    background-size: 60px;
  }
}

/* line 487, ../sass/screen.scss */
.roaster-about {
  padding: 0 6.5em 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 487, ../sass/screen.scss */
  .roaster-about {
    padding: 0;
    margin-bottom: 2em;
  }
}
/* line 494, ../sass/screen.scss */
.roaster-about p {
  margin-bottom: 2em;
}
/* line 497, ../sass/screen.scss */
.roaster-about.second-column {
  padding-left: 8%;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  /* line 497, ../sass/screen.scss */
  .roaster-about.second-column {
    padding-left: 0;
  }
}

@media only screen and (max-width: 640px), only screen and (max-device-width: 1136px) and (min-device-width: 960px) and (device-height: 640px), only screen and (max-device-height: 1136px) and (min-device-height: 960px) and (device-width: 640px), only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-device-width: 640px) and (min-device-pixel-ratio: 1.5), only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 513, ../sass/screen.scss */
  .roaster-banner {
    min-height: 100px;
  }
}
/* -- about page -- */
/* line 519, ../sass/screen.scss */
.about-wrap {
  padding: 5em 2em 2em 2em;
  box-sizing: border-box;
  margin: 0;
  background-color: #f8f6f4;
}
/* line 524, ../sass/screen.scss */
.about-wrap h2 {
  margin: 1em 0;
  font-size: 22px;
  text-transform: none;
}

/* line 531, ../sass/screen.scss */
.block {
  padding: 4em 0;
}

/* line 535, ../sass/screen.scss */
.about {
  max-width: 1020px;
  margin: 0 auto;
}

/* line 540, ../sass/screen.scss */
.about-description, .add-a-roaster-form, .contact-form {
  width: 70%;
  box-sizing: border-box;
  max-width: 620px;
  padding: 0 0 0 4em;
  display: inline-block;
}

/* line 547, ../sass/screen.scss */
.about-icon, .add-a-roaster-copy, .contact-copy {
  width: 30%;
  box-sizing: border-box;
  display: inline-block;
  max-width: 400px;
  height: auto;
  margin-top: 0;
  vertical-align: top;
}
/* line 555, ../sass/screen.scss */
.about-icon img, .add-a-roaster-copy img, .contact-copy img {
  width: 100%;
  height: auto;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* -- add a roaster -- */
/* line 565, ../sass/screen.scss */
.add-a-roaster-copy {
  margin-top: 5em;
}

/* -- contact -- */
/* line 574, ../sass/screen.scss */
.contact-form {
  padding-left: 0;
}

/* line 578, ../sass/screen.scss */
.contact-copy {
  padding-left: 5em;
  margin-top: 2em;
}
