{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}" />
    <meta name="description" content="{% block meta-description %}{% endblock %}" />
    <title>{% block title %}{% endblock %} | PDX Roasters</title>
    <link rel="stylesheet" media="screen" href="{% static 'css/screen.css' %}" />
</head>
<body>
    {% block header %}
    <header>
        <h1>PDX Roasters</h1> 
        <nav>     
            <a href="#" id="plus"> &nbsp; </a>
            <a href="#" class="info" id="tab1_button"> Add Roaster </a>
            <a href="#" class="info" id="tab2_button"> About </a>     
            <a href="#" class="info" id="tab3_button"> Contact </a>
            <div id="active_underline"> &nbsp; </div>
        </nav>
    </header>
    {% endblock header %}
    
    <div id="content" role="main">
        {% block content %}{% endblock %}
    </div>
    
    {% block footer %}
    <footer></footer>
    {% endblock footer %}
    
    <script src="{% static 'js/dist/scripts.js' %}"></script>
</body>
</html>
