{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Enable Google Chrome Frame support -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

        <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
        <meta name="description" content="{% block meta-description %}{% endblock %}">

        <title>{% block title %}{% endblock %} | PDX Roasters</title>
        <!-- TODO: Include a shortcut icon. -->

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    </head>
    <body>
        <!-- Prompt IE 6 users to install Chrome Frame. -->
        <!--[if lt IE 7]>
            <p class=chromeframe>
                Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.
            </p>
        <![endif]-->
        
        {% block header %}
        <header>
            {% if debug %}
                <h1>DEBUG</h1>
            {% else %}
                <h1>LIVE</h1>
            {% endif %}
        </header>
        {% endblock header %}

        <div id="content" role="main">
            {% block content %}{% endblock %}
        </div>

        {% block footer %}<footer></footer>{% endblock footer %}

        <!-- Scripts at the bottom for faster loading! -->
        <script src="{% static 'js/dist/scripts.js' %}"></script>
    </body>
</html>
