<div class="page" id="about">
	<div class="page-inner group">
		<div class="col col1of2">
            <div class="ci">
                <h2>About PDX Roasters</h2>
                <p>Portland Roasters is made up of three dudes who love coffee, probably too much.</p>
            </div>
        </div>
        <div class="col col1of2">
            <div class="ci">
                <h2>Contact Us</h2>
                <form class="ajax-form" data-form="contact" method="post" action="{% url contact %}">
	                <input name="name" type="text" placeholder="Full Name" />             
	                <input name="email" type="email" placeholder="E-mail" />
	                <textarea name="message" placeholder="Message"></textarea>
	                <p class="caption">* All fields are required.</p>
	                <button type="submit">Submit</button>
	            </form>
            </div>
        </div>
	</div>
</div>