<div class="page" id="add-a-roaster">
	<div class="page-inner group">
		<div class="col col1of2">
            <div class="ci">
                <h2>Add a Portland Roaster</h2>
                <p>Did we miss a roaster or have you heard of someone just getting started recently in the Portland area? Give us a few details and we'll make sure to add them to the map.</p>
            </div>
        </div>
        <div class="col col1of2">
            <form class="ci ajax-form" data-form="roaster" method="post" action="/add-roaster/">
                <input name="name" type="text" placeholder="Roaster Name" />
                <input name="address" type="text" placeholder="Roaster Address" />
                <input name="phone" type="tel" placeholder="Roaster Phone" />
                <input name="url" type="url" placeholder="Roaster Website" />
                <textarea name="description"></textarea>
                <label><input name="online_only" type="checkbox" /> Online Only</label><br />
                <label><input name="order_online" type="checkbox" /> Order Online</label><br />
                <label><input name="cafe_on_site" type="checkbox" /> Cafe on Site</label><br />
                <label><input name="open_to_public" type="checkbox" /> Open to Public</label><br />
                <p class="caption">* All fields are required.</p>
                <button type="submit">Submit</button>
            </form>
        </div>
	</div>
</div>
