<div class="page block" id="add-a-roaster">
    <div class="add-a-roaster-copy">
        <div class="ci">
            <h2>Add a Portland Roaster</h2>
            <p>Did we miss a roaster or have you heard of someone just getting started recently in the Portland area? Give us a few details and we'll make sure to add them to the map.</p>
        </div>
    </div>
    <div class="add-a-roaster-form">
        <form class="ajax-form" data-form="roaster" method="post" action="/add-roaster/">{% csrf_token %}
            <input name="name" type="text" placeholder="Roaster Name" />
            <input name="address" type="text" placeholder="Roaster Address" />
            <input name="phone" type="tel" placeholder="Roaster Phone" />
            <input name="url" type="url" placeholder="Roaster Website" />
            <textarea name="description" placeholder="Roaster Description"></textarea>
            <label class="inline-label"><input name="online_only" type="checkbox" /> Online Only</label>
            <label class="inline-label"><input name="order_online" type="checkbox" /> Order Online</label>
            <label class="inline-label"><input name="cafe_on_site" type="checkbox" /> Cafe on Site</label>
            <label class="inline-label"><input name="open_to_public" type="checkbox" /> Open to Public</label>
            <p class="caption">* All fields are required.</p>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
