<div class="page" id="add-a-roaster">
	<div class="page-inner group">
		<div class="col col1of2">
            <div class="ci">
                <h2>Add a Portland Roaster</h2>
                <p>We try to be thorough, but we probably didn&rsqo;t get them all. If you know of a up-and-comming roaster in Portland, or you have an old favorite, don&rsqo;t be shy. Use this form to submit a new roaster to our list, or shoot us an <a href="mailto:pdxroasters@gmail.com"> email.</a></p>
            </div>
        </div>
        <div class="col col1of2">
            <form class="ci ajax-form" data-form="roaster" method="post" action="/add-a-roaster/">
                <input name="name" type="text" placeholder="Full Name" />             
                <input name="email" type="email" placeholder="E-mail" />
                <input name="roaster" type="text" placeholder="Name of Roaster" />
                <p class="caption">* All fields are required.</p>
                <button type="submit">Submit</button>
            </form>
        </div>
	</div>
</div>