{% load i18n %}
<div class="push-pages" id="info-pages">
	<div class="page" id="page1">
		<div class="page-inner group">
			<div class="col col1of2">
                <div class="ci">
                    <h2>Add a Portland Roaster</h2>
                    <p>We try to be thorough, but we probably didn't get them all. If you know of a up-and-comming roaster in Portland, or you have an old favorite, don't be shy. Use this form to submit a new roaster to our list, or shoot us an <a href="mailto:pdxroasters@gmail.com"> email.</a></p>
                </div>
            </div>
            <div class="col col1of2">
                <form class="ci ajax-form" data-form="roaster" method="post" action="">  
                    <input name="name" type="text" placeholder="Full Name" />             
                    <input name="email" type="email" placeholder="E-mail" />
                    <input name="roaster" type="text" placeholder="Name of Roaster" />
                    <p class="caption">* All fields are required.</p>
                    <button type="submit">Submit</button>
                </form>
            </div>
		</div>
	</div>
	<div class="page" id="page2">
		<div class="page-inner group">
			<div class="col col1of2">
                <div class="ci">
                    <h2>About PDX Roasters</h2>
                    <p>Portland Roasters is made up of three dudes who love coffee, probably too much.</p>
                </div>
            </div>
            <div class="col col1of2">
                <div class="ci">
                    <h3>How it Started</h3>
                    <p>Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p>
                </div>
            </div>
		</div>
	</div>
	<div class="page" id="page3">
		<div class="page-inner group">
			<div class="col col1of2">
                <div class="ci">
                    <h2>Get in Touch</h2>
                    <p>Questions? Concerns? Comments?</p>
                </div>
            </div>
            <div class="col col1of2">
                <form class="ci ajax-form" data-form="contact" method="post" action="{% url contact %}">
                    {% csrf_token %}
                    <input name="name" type="text" placeholder="Full Name" />             
                    <input name="email" type="email" placeholder="E-mail" />
                    <textarea name="message" placeholder="Message"></textarea>
                    <p class="caption">* All fields are required.</p>
                    <button type="submit">Submit</button>
                </form>
            </div>
		</div>
	</div>
</div>
