{% if roasters %}
<div class="roasters">
	<div class="col1of4">
		<a href="/" id="page-back" class="btn">Back</a>
	</div>
	{% for r in roasters %}
	<div id="roaster-{{ r.id }}" class="content group">
	    <div class="col col1of2">
	        <div class="ci">
	            <div class="figure">
	                <img src="/static/img/roaster-image.jpg" alt="{{ r.name }} Photo">
	            </div>
	            <div class="meta group">
	                <div class="col col1of3">
	                    <div class="ci">
	                        <h5>Address</h5>
	                        <p class="address">{{ r.address }}</p>
	                    </div>
	                </div>
	                <div class="col col1of3">
	                    <div class="ci">
	                        <h5>Hours</h5>
	                        <p class="hours"> 
	                            {% for h in r.hours.all %}
	                                {{ h.get_weekday_display }} {{ h.open }} - {{ h.close }}<br />
	                            {% endfor %}
	                        </p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="col col1of2 last">
	        <div class="ci">
	            <h4>About {{ r.name }}</h4>
	            <p class="skolar">{{ r.description }}</p>
	            <a href="{{ r.get_absolute_url }}" data-api="{{ r.resource_uri }}" class="btn">Find this Roast</a>
	        </div>
	    </div>
	</div>
	{% endfor %}
</div>
{% endif %}