
<!-- List -->
{% if roasters %}
<section class="list" id="list">
  <ul class="sort-list">
    <h3>Portland Coffee Roasters</h3>
    <li><a href="#" class="active">By Name</a></li>
    <li><a href="#">By Distance</a></li>
  </ul>
  <ul class="list-content" id="roasters">
{% for roaster in roasters %}
  <li class="roaster">
    <div class="distance"><span>123.2<br/>miles</span></div>
    <a href="/roaster/{{roaster.slug}}/" id="item-{{roaster.id}}" data-latlng="[{{roaster.lat}},{{roaster.lng}}]" data-name="{{roaster.name}}">
      <h3 class="handle"><span>{{ roaster.name }}</span></h3>
    </a>
  </li>
{% empty %}
  <div class="message">
    <h3>There are no Roasters yet.</h3>
    <p>Perhaps you would like to <a href="/about/">suggest one</a> to us.</p>
  </div>
</section>
{% endfor %}
  </ul>
{% endif %}