<div id="roaster-{{ roaster.id }}" class="content">
    <div class="roaster-banner" style="background-image: url('http://maps.googleapis.com/maps/api/streetview?size=1920x1080&location={{ roaster.lat }},{{ roaster.lng }}&fov=180&sensor=false');">
        <div class="banner-title">
            <h3 class="roaster-title"> {{ roaster.name }} </h3>
            <p class="banner-address"> <a href="#"> {{ roaster.address }} </a> </p>
        </div>
    </div>
    <div class="group roaster-description">
        <div class="col col1of4">
            <h5>Hours</h5>
            <p class="hours">
                {% for h in roaster.hours.all %}
                    {{ h.get_weekday_display }} <span class="right"> {{ h.open }} - {{ h.close }} </span> <br />
                {% endfor %}
            </p>
            <h5>Phone</h5>
            <p class="hours"> {{ roaster.phone }} </p>
        </div>
        <div class="col col3of4 roaster-about">
            <h4 class="about-title">About {{ roaster.name }}</h4>
            <p>{{ roaster.description }}
                Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo.
            </p><p>
                Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
            <a href="{{ roaster.get_absolute_url }}" data-api="{{ roaster.resource_uri }}" class="btn">Find this Roast</a>
        </div>
    </div>
</div>