{% if roasters %}
<div id="roasters">
    <a href="#roasters" class="scroll-to roasters-toggle">
    </a>
    <div class="roasters">
        {% for r in roasters %}
        <a href="/roaster/{{ r.slug }}/" class="roaster" id="{{ r.id }}" data-latlng="[{{ r.lat }},{{ r.lng }}]" data-api="{{ r.resource_uri }}" data-name="{{ r.name }}" data-address="{{ r.address }}">
            <h3 class="handle group"><span>{{ r.name }}</span> <div class="toggle"></div></h3>
        </a>
        {% empty %}
        <div class="message">
            <h3>There are no Roasters yet.</h3>
            <p>Perhaps you would like to <a href="#panel1" class="suggest">suggest one</a> to us.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}