<div id="roaster-{{ roaster.id }}" class="content">
	<h3 class="roaster-title"> {{ roaster.name }} </h3>
	<div class="group">
	    <div class="col col1of2">
            <div class="figure">
                <img src="/static/img/roaster-image.jpg" alt="{{ roaster.name }} Photo">
            </div>
            <div class="meta group">
                <div class="col col1of2">
                    <h5>Address</h5>
                    <p class="address">{{ roaster.address }}</p>
                </div>
                <div class="col col1of2 last">
                    <h5>Hours</h5>
                    <p class="hours"> 
                        {% for h in roaster.hours.all %}
                            {{ h.get_weekday_display }} <span class="right"> {{ h.open }} - {{ h.close }} </span> <br />
                        {% endfor %}
                    </p>
                </div>
            </div>
	    </div>
	    <div class="col col1of2 last">
            <h4>About</h4>
            <p class="skolar">{{ roaster.description }}</p>
            <a href="{{ roaster.get_absolute_url }}" data-api="{{ roaster.resource_uri }}" class="btn">Find this Roast</a>
	    </div>
	</div>
</div>