{% if roasters %}
<div id="roasters" class="roasters">
	{% include 'partials/search.html' %}
    {% for roaster in roasters %}
    <div class="roaster">
        <a href="/roaster/{{ roaster.slug }}/" class="push-link" id="{{ roaster.id }}" data-latlng="[{{ roaster.lat }},{{ roaster.lng }}]" data-name="{{ roaster.name }}" data-address="{{ roaster.address }}">
            <h3 class="handle group"><span>{{ roaster.name }}</span> <div class="toggle"></div></h3>
        </a>
    </div>
    {% empty %}
    <div class="message">
        <h3>There are no Roasters yet.</h3>
        <p>Perhaps you would like to <a href="/add-a-roaster/" class="push-link">suggest one</a> to us.</p>
    </div>
    {% endfor %}
</div>
{% endif %}

<!-- List -->
<section class="list">
  <ul class="sort-list">
    <li><a href="#">Name</a></li>
    <li><a href="#">Distance</a></li>
  </ul>
  <ul class="list-content" id="roasters">
{% for roaster in roasters %}
  <li class="roaster">
                <div class="distance"><span>123.2<br/>miles</span></div>
    <a href="/roaster/{{ roaster.slug }}/" class="push-link" id="item-{{ roaster.id }}" data-latlng="[{{ roaster.lat }},{{ roaster.lng }}]" data-name="{{ roaster.name }}">
      <h3 class="handle"><span>{{ roaster.name }}</span></h3>
    </a>
  </li>
{% endfor %}
  </ul>
</section>