@import 'compass/css3';
@import 'compass/utilities';

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - Reset - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html, body, a, abbr, blockquote, button, div, em, fieldset, form, h1, h2, h3, h4, h5, h6, hr, iframe, img, label, legend, li, object, ol, p, pre, span, strong, table, td, th, tr, ul { background: no-repeat 0 0; border: 0; font-size: 100%; margin: 0; padding: 0; vertical-align: baseline; }
ol, ul { list-style: none; }
strong, th { font-weight: bold; }
table {	border-spacing: 0; width: 100%; }
input, textarea { padding: 0; }
legend { white-space: normal; width: 100%; }
textarea { overflow: auto; resize: vertical; }
embed, iframe, img, input, object, select, textarea { margin: 0; /* max-width: 100%; */ vertical-align: top; }
a:hover, a:active, embed, object { outline: 0; }
a, button { cursor: pointer; }
button { line-height: normal; }
button[disabled] { cursor: default; }
button::-moz-focus-inner { border: 0; padding: 0; }


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - Fonts - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@import 'fonts';


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - Global Classes - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.btn {
    background: #DDDBD4;
    border: 1px solid #D2D0CB;
    padding:.5em 2em;
    font: normal 700 1em/1em 'DIN', Helvetica, Arial, Sans; 
    cursor: pointer;
    margin-right: 1em;
    text-transform: none;
    letter-spacing: 1px;
    text-align: center;
    text-indent: 0px;
    text-decoration: none;
    color: #fff;
    
    &:hover {
        border-color: #b6b4b0;
        color: #555;
    }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - Elements - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body {
    margin: 0;
    min-height: 100%;
    font-size: 16px;
    font-family: 'DIN', Helvetica, Arial, Sans;
    
    &.no-scroll {
        overflow-y: hidden;
    }
}
a {
    color: #111;
    text-decoration: none;
    
    @include transition(color 200ms linear);
    
    &:hover {
        color: #0099ff;
    }
}
h1 {
    font: normal 700 1.5em/1.5em 'DIN', Helvetica, Arial, Sans;
    letter-spacing: 2px;
    color: #fff;
}
h2 {
    font: normal 700 2em/2em 'DIN', Helvetica, Arial, Sans;
    margin-bottom: .5em;
    color: #323232;
    letter-spacing: 1px;
}
h3 {
    font: normal 400 1.5em/1.5em 'DIN', Helvetica, Arial, Sans;
    margin-bottom: .5em;
    color: #323232;
    letter-spacing: 1px;
}
h4 {
    font: normal 400 1.25em/1.25em 'DIN', Helvetica, Arial, Sans;
    margin-bottom: .5em;
    color: #323232;
    letter-spacing: 1px;
}
h5{
    font: normal 400 1.25em/1.25em 'DIN', Helvetica, Arial, Sans;
    margin-bottom: .5em;
    color: #323232;
    letter-spacing: 1px;
}
p {
    font: normal 400 1em/2em 'DIN', Helvetica, Arial, Sans;
    margin-bottom: 2em;
    
    &.skolar {
        font: normal 400 1em/2em 'Skolar', Helvetica, Arial, Sans;
    }
    
    p a {
        text-decoration: none;
        border-bottom: 1px dotted #0099ff;
    }
    
    &.caption {
        color: #bebebe;
        font-style: italic; 
    }
}
strong {
    font-weight: bold;
}
blockquote {
    margin: 1em 40px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - Grid - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.col {
    display: block;
    float: left;
    position: relative;
}
.ci {
    padding: 0 20px;
}
.last {
    float: right;
    
    .ci {
        padding-right: 0;
    }
}
.col1of1 { float: none; }
.col1of2 { width: 50%; }
.col1of3 { width: 33.33333%; }
.col2of3 { width: 66.66666%; }
.col1of4 { width: 25%; }
.col3of4 { width: 75%; }
.col1of5 { width: 20%; }
.col2of5 { width: 40%; }
.col3of5 { width: 60%; }
.col4of5 { width: 80%; }
.group:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - Content - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#page {
    overflow: hidden;
    position: relative;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - Header  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#header {
    background: rgba(0,0,0,.8);
    left: 0;
    padding: 10px 0 10px 40px;
    position: fixed;
    right: 0; 
    top: 0; 
    z-index: 10;
    
    @include box-shadow(0 1px 3px rgba(0,0,0,.8));
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - Navigation  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#nav {
    position: absolute; 
    top: 0; 
    right: -338px;
    
    @include transition(all 200ms ease-in-out 200ms);
    
    &.active {
        right: 40px;
    }
    
    ul {
        li {
            display: inline-block;
            margin-left: 40px;
            padding: 15px 0;
            vertical-align: middle;
            
            &:first-child {
                margin-left: 0;
            }
            
            a {
                font: normal 400 1em/1.25em 'DIN', Helvetica, Arial, Sans;
                letter-spacing: 1px;
                color: #fff;
                text-transform: uppercase;
                
                &:hover,
                &.on {
                    color: #0099ff;
                }
            }
        }
    }
    
    .plus {
        display: inline-block;
        background: transparent url('../img/plus-nav.png') no-repeat 0 0;
        width: 22px;
        height: 22px;
        vertical-align: middle;
        
        @include transition(all 400ms cubic-bezier(0.095, 0.910, 0.245, 1.000));
        
        &.active {
            @include transform(rotate(-225deg));
        }
    }
    
    /*
    .active_underline {
        height: 2px;
        border-bottom: 2px dashed #0099ff;
        position: absolute;
        top: 27px;
        right: 0;
        width: 0;
        
        &.nav1 { width: 115px; right: 207px; }
        &.nav2 { width: 54px;  right: 116px; }
        &.nav3 { width: 73px; right: 2px; }
    }
    */
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - InfoPanels  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#info-panel {
    background-color: #f0f0f0;
    bottom: 0;
    left: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    
    @include transition(left 300ms ease-in-out);
    
    &.active {
        left: 0;
    }
    
    .panels {
        position: relative;
        
        @include transition(left 300ms ease-in-out);
    }
    
    .panel {
        float: left;
        height: 100%;
        position: relative;
        width: 100%;
        
        .panel-inner {
            padding: 100px;
        }
    }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - Map & Modals - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#map-wrap {  
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 7;
}
#map {
    position: relative;
    height: 100%;
    width: 100%;
    
    .marker-custom {
        background: red;
        height: 20px;
        width: 20px;
    }
}
/*
a.roaster_marker{
  width:16px;
  height:16px;
  background:red;
  display:block;
  z-index:10;
  position:absolute;
}
.modal {
  background:#f8f6f4;
  line-height:36px;
  border:1px solid #d2d0cb;
  border-radius:4px;
  text-align:left;
  width:auto;
  max-width:500px;
  z-index:11;
  position:absolute;
  padding:2em 2em;
  display:none;
  opacity:0;

}
.modal:before {
  content:" ";
  background:#f8f6f4;
  width:16px;
  height:16px;
  border:1px solid #d2d0cb;
  left:50%;
  margin-left:-8px;
  position:absolute;
  display:block;
  bottom:-7px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
               zoom: 1;
  box-shadow: 0px 0px 5px #ebe9e4;
}
.modal:after {
  content:" ";
  width:25px;
  height:20px;
  display:block;
  left:50%;
  margin-left:-12px;
  bottom:0px;
  background:#f8f6f4;
  position:absolute;
}
h3.modal_name{
  margin-bottom:1em;
  font-size:1.5em;
}
a.close{
  background:transparent url('../img/plusthin.png') top left no-repeat;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);  
       -o-transform: rotate(-45deg); 
          transform: rotate(-45deg);  
  width: 20px; 
  height: 20px;
  background-size:16px 16px;
  display:block;
  margin-top:-8px;
  opacity:.8;
}
*/


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - Roasters  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#roasters {
    position: relative;
    z-index: 8;
    
    @include box-shadow(0 -1px 3px rgba(0,0,0,.5));
    
    h3 {
        font: normal 400 2.25em/1.5em 'DIN', Helvetica, Arial, Sans;
        margin-bottom: 0;
    }
    
    h4 {
        font: normal 400 1.5em/2em 'DIN', Helvetica, Arial, Sans;
        margin: 0 0 1em 0;
    }
    
    .figcaption {
        font: normal 400 1em/2em 'Skolar', Helvetica, Arial, Sans;
    }
    
    .meta {
        margin-top: 20px;
    }
    
    .roasters {
        background-color: #fff;
        padding-top: 20px;
        position: relative;
        z-index: 8;
    }
    
    .roasters-toggle {
        background: #fff;
        display: block;
        height: 22px;
        left: 50%;
        margin-left: -25px;
        position: absolute;
        text-align: center;
        top: -20px;
        width: 50px;
        z-index: 7;
        
        @include transition(top 200ms linear);
        @include box-shadow(0 0 3px rgba(0,0,0,.8));
        @include border-top-left-radius(5px);
        @include border-top-right-radius(5px);
        
        &:hover {
            top: -22px;
        }
        
        .line {
            background: #959595;
            display: block;
            height: 2px;
            margin: 0 20% 1px;
            width: 60%;
            
            @include box-shadow(0 0 1px rgba(0,0,0,.8) inset);
            
            &:first-child {
                margin-top: 7px;
            }
        }
    }
    
    .hours {
        span {
            float: right;
            display: inline;
            text-align: right;
        }
    }
    
    .roaster {
        padding: 0 40px;
        
        &.active {
            .content {
                height: 600px;
            }
            
            h3 {
                margin-bottom: .5em;
            }
        }
        
        h3 span {
            float: left;
        }
        
        .toggle {
            display: block;
            background: transparent url('../img/plusthin.png') no-repeat 100% 50%;
            width: 22px;
            height: 60px;
            float: right;
            
            @include transition(all 400ms cubic-bezier(0.095, 0.910, 0.245, 1.000));
            
            &.active {
                @include transform(rotate(-225deg));
            }
        }
        
        .content {
            height: 0;
            overflow: hidden;
            
            @include transition(all 200ms linear 200ms);
        }
    }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - Responsive Styles - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/* - - - - - - - - - - Small - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

/*Portrait*/

@media only screen and (min-width: 300px) {

}
/* Landscape */

@media only screen and (min-width: 480px) {
  
}

/* - - - - - - - - - - Medium  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

/* iPad Portrait (Or android tablets, I don't judge.) */

@media only screen and (min-width: 768px) {

}

/* iPad Landscape & Laptops */

@media only screen and (min-width: 1024px) {
  

}

/* - - - - - - - - - - Large  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

/* Moving on up to desktops */

@media only screen and (min-width: 1280px) {
  

}

/* Now we're talkin. */

@media only screen and (min-width: 1440px) {
  

}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - Form Styles - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    height: 3em;
    padding-left: 32px;
    line-height: 1em;
    font-family: 'DIN', Helvetica, Arial, Sans;
    font-size: 1em;
    border: 1px solid #e5e5e5;
    background-color: #fbfbfb;
    margin: 8px 0px;
    
    @include box-sizing(border-box);
    @include transition(all 200ms ease-in-out);
    
    &:focus {
        border-color: #0099ff;
        background-color: #fff; 
    }
}
textarea {
    min-height: 150px;
    resize: none;
    padding: 20px 35px 0;
}
button[type="submit"]{
    padding: 12px 40px;
    background-color: #0099ff;
    margin: 8px 0px;
    cursor: pointer;
    text-transform: none;
    letter-spacing: 1px;
    text-align: left;
    text-indent: 0px;
    color: #fff;
}