
@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-Regular-webfont.eot');
    src: url('../fonts/Cabin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-Regular-webfont.woff') format('woff'),
         url('../fonts/Cabin-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-Regular-webfont.svg#CabinRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-Italic-webfont.eot');
    src: url('../fonts/Cabin-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-Italic-webfont.woff') format('woff'),
         url('../fonts/Cabin-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-Italic-webfont.svg#CabinItalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-Medium-webfont.eot');
    src: url('../fonts/Cabin-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-Medium-webfont.woff') format('woff'),
         url('../fonts/Cabin-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-Medium-webfont.svg#CabinMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-MediumItalic-webfont.eot');
    src: url('../fonts/Cabin-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-MediumItalic-webfont.woff') format('woff'),
         url('../fonts/Cabin-MediumItalic-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-MediumItalic-webfont.svg#CabinMediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-SemiBold-webfont.eot');
    src: url('../fonts/Cabin-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-SemiBold-webfont.woff') format('woff'),
         url('../fonts/Cabin-SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-SemiBold-webfont.svg#CabinSemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-SemiBoldItalic-webfont.eot');
    src: url('../fonts/Cabin-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-SemiBoldItalic-webfont.woff') format('woff'),
         url('../fonts/Cabin-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-SemiBoldItalic-webfont.svg#CabinSemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-Bold-webfont.eot');
    src: url('../fonts/Cabin-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-Bold-webfont.woff') format('woff'),
         url('../fonts/Cabin-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-Bold-webfont.svg#CabinBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-BoldItalic-webfont.eot');
    src: url('../fonts/Cabin-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cabin-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/Cabin-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Cabin-BoldItalic-webfont.svg#CabinBoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
}

body{ font-size: 16px };

a {
    color: $blue;
    text-decoration: none;
    @include transition(color 200ms linear);
    &:hover {
        color: #111;
    }
}
h1{
    font-size: 1.65em;
    letter-spacing: 1px;
    line-height: 2em;
    font-weight: 700;
}
h2 {
    font-size: 16px;
    margin-bottom: 2em;
    color: #323232;
    letter-spacing: 1px;
    line-height: 2em;
    text-transform: uppercase;
    font-weight: 900;
}
h3 {
    font-size: 26px;
    margin-bottom: .5em;
    color: #323232;
    letter-spacing: 1px;
}
h4 {
    font-size: 22px;
    margin-bottom: .5em;
    color: #323232;
    letter-spacing: 1px;
}
h5 {
    font-size: 14px;
    margin-bottom: 1em;
    color: #323232;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700 !important;
    margin-top: 2em;
}
p {
    line-height:2em;
    &.skolar {
        font-family: $skolar;
        margin-bottom: 1em;
    }

    p a {
        text-decoration: none;
        border-bottom: 1px dotted #0099ff;
    }

    &.caption {
        color: #bebebe;
        font-style: italic;
        line-height: 4em;
    }
    &.tight {
        line-height: 1.5em;
    }
}
strong {
    font-weight: bold;
}

.right{text-align:right !important;}