{% extends 'site_base.html' %}

{% load i18n %}

{% block title %}About{% endblock %}
{% block page %}aboutPage{% endblock %}
{% block aboutActive %}active{% endblock %}

{% block meta_description %}Learn more about the PDX Roasters project and get in touch.{% endblock %}

{% block content %}
  <!-- About -->
  <section id="about">
    <div class="about-wrap">
      <section class="about">
        {% include 'partials/about.html' %}
        {% include 'partials/add_a_roaster.html' %}
      </section>
    </div>
  </section>
{% endblock %}