<div class="page" id="contact">
	<div class="page-inner group">
		<div class="col col1of2">
            <div class="ci">
                <h2>Get in Touch</h2>
                <p>Questions? Concerns? Comments?</p>
            </div>
        </div>
        <div class="col col1of2">
            <form class="ci ajax-form" data-form="contact" method="post" action="{% url contact %}">
                <input name="name" type="text" placeholder="Full Name" />             
                <input name="email" type="email" placeholder="E-mail" />
                <textarea name="message" placeholder="Message"></textarea>
                <p class="caption">* All fields are required.</p>
                <button type="submit">Submit</button>
            </form>
        </div>
	</div>
</div>