{% extends 'site_base.html' %}

{% load i18n %}

{% block title %}Home{% endblock %}

{% block controller %}home{% endblock %}

{% block pageclass %}home{% endblock %}

{% block content %}
	{% include 'partials/map.html' %}
	{% include 'partials/roasters.html' %}
{% endblock %}

{% block pre_footer %}
<div class="push-container" id="nav-push-page">
	<div class="push-pages">
		{% include 'add-a-roaster.html' %}
		{% include 'about.html' %}
		{% include 'contact.html' %}
	</div>
</div>
<div class="push-container" id="roaster-push-page">
	<div class="roaster">
		{% if roasters %}
		    {% for roaster in roasters %}
		    	{% include 'partials/roaster_detail.html' %}
		    {% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}