{% extends 'site_base.html' %}

{% load i18n %}

{% block title %}Home{% endblock %}

{% block controller %}home{% endblock %}

{% block content %}
<div id="info-panel">
    <div class="panels">
        <div class="panel" id="panel1">
            <div class="panel-inner group">
                <div class="col col1of2">
                    <div class="ci">
                        <h2> Add a Portland Roaster </h2>
                        <p> We try to be thorough, but we probably didn't get them all. If you know of a up-and-comming roaster in Portland, or you have an old favorite, don't be shy. Use this form to submit a new roaster to our list, or shoot us an <a href="mailto:pdxroasters@gmail.com"> email.</a> 
                        </p>
                    </div>
                </div>
                <div class="col col1of2">
                    <form class="ci ajax-form" data-form="roaster" method="post" action="">               
                        <input name="name" type="text" placeholder="Full Name" required="required" autofocus="autofocus" autocomplete="on">             
                        <input name="email" type="email" placeholder="E-mail" required="required" autocomplete="on">
                        <input name="roaster" type="text" placeholder="Name of Roaster" required="required">
                        <p class="caption">* All fields are required.</p>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel" id="panel2">
            <div class="panel-inner group">
                <div class="col col1of2">
                    <div class="ci">
                        <h2>About PDX Roasters</h2>
                        <p>Portland Roasters is made up of three dudes who love coffee, probably too much.</p>
                    </div>
                </div>
                <div class="col col1of2">
                    <div class="ci">
                        <h3>How it Started</h3>
                        <p>Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel" id="panel3">
            <div class="panel-inner group">
                <div class="col col1of2">
                    <div class="ci">
                        <h2>Get in Touch</h2>
                        <p>Questions? Concerns? Comments?</p>
                    </div>
                </div>
                <div class="col col1of2">
                    <form class="ci ajax-form" data-form="contact" method="post" action="">               
                        <input name="name" type="text" placeholder="Full Name" required="required" autofocus="autofocus" autocomplete="on">             
                        <input name="email" type="email" placeholder="E-mail" required="required" autocomplete="on">
                        <textarea name="message" placeholder="Message" required="required"></textarea>
                        <p class="caption">* All fields are required.</p>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- END: #info-panel -->

<div id="map-wrap">
    <div id="map">
    </div>
</div><!-- END: #map-wrap -->

<div id="map-page">
    <a href="#close" class="plus-close">Close</a>
    <div class="page-inner">
    </div>
</div><!-- END: #map-page -->

{% if roasters %}
<div id="roasters">
    <a href="#roasters" class="scroll-to roasters-toggle">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </a>
    <div class="roasters">
        {% for r in roasters %}
        <div class="roaster" id="{{ r.id }}" data-latlng="[{{ r.lat }},{{ r.lng }}]" data-api="{{ r.resource_uri }}" data-name="{{ r.name }}" data-address="{{ r.address }}">
            <h3 class="handle group"><span>{{ r.name }}</span> <a href="#toggle" class="toggle"></a></h3>
            <div class="content group">
                <div class="col col1of2">
                    <div class="ci">
                        <div class="figure">
                            <img src="/static/img/roaster-image.jpg" alt="{{ r.name }} Photo">
                        </div>
                        <div class="meta group">
                            <div class="col col1of3">
                                <div class="ci">
                                    <h5>Address</h5>
                                    <p class="address">{{ r.address }}</p>
                                </div>
                            </div>
                            <div class="col col1of3">
                                <div class="ci">
                                    <h5>Hours</h5>
                                    <p class="hours"> 
                                        {% for h in r.hours.all %}
                                            {{ h.get_weekday_display }} {{ h.open }} - {{ h.close }}<br />
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col1of2 last">
                    <div class="ci">
                        <h4>About {{ r.name }}</h4>
                        <p class="skolar">{{ r.description }}</p>
                        <a href="/roaster/{{ r.slug }}/" data-api="{{ r.resource_uri }}" class="btn">Find this Roast</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="message">
            <h3>There are no Roasters yet.</h3>
            <p>Perhaps you would like to <a href="#panel1" class="suggest">suggest one</a> to us.</p>
        </div>
        {% endfor %}
    </div>
</div><!-- END: #roasters -->
{% endif %}
{% endblock %}
