{% extends 'site_base.html' %}
{% load i18n %}
{% block title %}Portland Coffee Roasters Map{% endblock %}
{% block page %}home{% endblock %}
{% block homeActive %}active{% endblock %}
{% block meta_description %}
  Portland’s coffee scene is pioneering, unique and fiercely dedicated to craft and quality. Use PDX Roasters to find a local Portland coffee roaster.
{% endblock %}

{% block content %}
<!-- Map -->
<section id="map">
</section>

{% include 'partials/roasters.html' %}
{% endblock %}

{% block scripts %}main{% endblock %}

