{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 7]><html lang="en" class="ie ie-legacy ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie ie-legacy ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie ie9"><![endif]-->
<!--[if gt IE 8]><html lang="en"><![endif]-->
<!--[if !IE]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}" />
    <meta name="description" content="{% block meta-description %}{% endblock %}" />
    <meta name="author" content="Isaac Viel" />
    <meta name="author" content="Tristan Waddington" />
    <meta name="author" content="Paul C. Pederson" />
    <meta name="author" content="Brandon Lee Kitajchuk" />
    <link rel="author" href="humans.txt" />
    <title>{% block title %}{% endblock %} | PDX Roasters</title>
    <!--[if gte IE 7]><!-->
        <link href="{% static 'css/screen.css' %}" rel="stylesheet" media="screen" />
    <!--<![endif]-->
    <!--[if(IE 7)|(IE 8)|(IE 9)]>
		<link href="{% static 'css/ie.css' %}" rel="stylesheet" media="screen" />
	<![endif]-->
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body data-controller="{% block controller %}{% endblock %}" data-environment="{% if debug %}development{% else %}production{% endif %}" data-csrftoken="{{ csrf_token }}">
    <div id="page">
        {% block header %}
        <header id="header">
            <h1 id="logo">PDX Roasters</h1> 
            <nav id="nav">     
                <ul>
                    <li><a href="#more" class="plus"></a></li>
                    <li><a href="/roaster/add/" data-page="page1">Add Roaster</a></li>
                    <li><a href="/about/" data-page="page2">About</a></li> 
                    <li><a href="/contact/" data-page="page3">Contact</a></li>
                </ul>
            </nav>
        </header>
        {% endblock header %}
        <section id="content">
            {% block content %}{% endblock %}
        </section>
        {% block footer %}
        <footer id="footer">
            <p>&copy; PDX Roasters.</p>
        </footer>
        {% endblock footer %}
    </div>
    <script src="{% static 'js/dist/scripts.js' %}"></script>
</body>
</html>
